
<div class="row">
    <div class="card-body overflow-auto">
        <div class="modal-header" >
            <h4 class="modal-title" id="modal-basic-title">Agregar</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body scroll-group" id="cbBobyFaltaCotizacion"></div>
        </div>
    </div>
</div>

