<div class="row">
  <div class="col-md-12">
    <div class="card border-left border-info">
      <div class="card-header bg-info text-white" style="font-weight: bold">
        Filtros de búsqueda
      </div>
      <div class="card-body">
        <form autocomplete="off" [formGroup]="frmBusqueda" (submit)="filtrarProtocoloAnalisis()">
          <div class="form-body" style="font-size: 14px;">
            <div class="row p-t-5">
              <div class="col-sm-12 col-md-4 col-xl-2">
                <div class="form-group">
                  <label class="control-label" for="fecInicio">Fecha Inicio:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="date" class="form-control form-control-sm" placeholder="Inicio" id="fecInicio" formControlName="fechaInicio">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-2">
                <div class="form-group">
                  <label class="control-label" for="fechFin">Fecha Fin:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="date" class="form-control form-control-sm" placeholder="Fin" id="fechFin" formControlName="fechaFin">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-2">
                <div class="form-group">
                  <label class="control-label" for="cliente">Cliente:</label>
                  <div class="input-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text" (click)="openModalConsultaClientes()" style="cursor: pointer">
                            <i class="fa fa-binoculars"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control form-control-sm" placeholder="Cliente" id="cliente" formControlName="nombreCliente">
                      <div class="input-group-prepend">
                        <span class="input-group-text" (click)="limpiarCliente()" style="cursor: pointer">
                          <i class="fa fa-trash"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-2">
                <div class="form-group">
                  <label class="control-label" for="ordFabricacion">Orden Fabricación:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-industry"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm" placeholder="Orden fabricación" id="ordFabricacion" formControlName="ordenFabricacion">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-2">
                <div class="form-group">
                  <label class="control-label" for="lote">Lote:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-industry"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm" placeholder="Lote" id="lote" formControlName="lote">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-2">
                <div class="form-group">
                  <label class="control-label" for="protocolo">Protocolo:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-paste"></i></span>
                    </div>
                    <select class="form-control form-control-sm" id="protocolo" formControlName="protocolo">
                      <option value="">Todos</option>
                      <option value="S">Con Protocolo</option>
                      <option value="N">Sin Protocolo</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-2">
                <div class="form-group">
                  <label class="control-label" for="tipoDocumento">Tipo Documento:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                    </div>
                    <select class="form-control form-control-sm" id="tipoDocumento" formControlName="tipoDocumento" (ngModelChange)="cambioTipoDocumento()">
                      <option value="">Ninguno</option>
                      <option value="P">Pedido</option>
                      <option value="F">Factura</option>
                      <option value="G">Guia</option>
                      <option value="C">Cotización</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-2">
                <div class="form-group">
                  <label class="control-label" for="documento">Documento:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-file"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm" placeholder="Nro Documento" id="documento" formControlName="numeroDocumento">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-t-20">
            <div class="col-12 d-flex justify-content-center">
                <!-- <button class="btn btn-success btn-rounded" (click)="ExportarExcel()">
                  <i class="fas fa-file-excel"></i>&nbsp;&nbsp;Generar Excel
                </button> -->
                <button class="btn btn-info btn-rounded" type="submit">
                    <i class="fa fa-search"></i>&nbsp;&nbsp;Buscar&nbsp;
                </button>
                <!-- <button class="btn btn-info btn-rounded" type="button" (click)="imprimirProtocoloAnalisis(modalGeneracion)" [disabled]="!frmBusqueda.valid" >
                  <i class="fa fa-print"></i>&nbsp;&nbsp;Imprimir
                </button> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-left border-info">
      <div class="card-body" >
        <div class="col-12 m-b-20 d-flex justify-content-end">
          <button class="btn btn-success btn-rounded btn-sm" (click)="exportarExcel()">
            <i class="fa fa-download" *ngIf="!flagDescargarLista"></i>
            <i class="fa fa-spinner fa-spin fa-fw" *ngIf="flagDescargarLista"></i>
              &nbsp;&nbsp;Descargar lista&nbsp;&nbsp;
          </button>
          <button class="btn btn-danger btn-rounded btn-sm" type="button">
            <i class="fa fa-print"></i>&nbsp;&nbsp;Protocolo&nbsp;&nbsp;
          </button>
        </div>
        <div class="col-12">
          <ngx-datatable 
              style="height: 1150px;" 
              class="material" 
              [rows]="listaProtocoloAnalisisAux" 
              [columnMode]="'force'" 
              [headerHeight]="50" 
              [footerHeight]="50"
              rowHeight="auto" 
              [limit]="10" 
              [selected]="selected"
              [selectionType]="'checkbox'" 
              [selectAllRowsOnPage]="false"
              [scrollbarH]="true" 
              [loadingIndicator]="flagLoading" 
              [messages]="messagerNgxTable"
              (select)="eventoSeleccionar($event)">
            
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true" [ariaMultiSelectable]="true" >
            </ngx-datatable-column>

            <ngx-datatable-column name="Documento" prop='numeroDocumento' [draggable]="false" [width]="130">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Fecha" prop='fechaDocumento' [draggable]="false" [width]="100">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  {{ value | date: 'dd/MM/yyyy HH:mm'}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nombre Cliente" prop='clienteNombre' [draggable]="false" [width]="230">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item" prop='itemCodigo' [draggable]="false" [width]="100">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Descripción" prop='descripcion' [draggable]="false" [width]="230">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Cantidad" prop='cantidadPedida' [draggable]="false" [width]="80">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  {{ value | number }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Lote" prop='lote' [draggable]="false" [width]="100">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Orden Fabricación" prop='ordenFabricacion' [draggable]="false" [width]="100">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Comentario" prop='comentarios' [draggable]="false" [width]="300">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 11px;">
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="¿Tiene?" [draggable]="false" [width]="60">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="font-size: 12px;">
                  SI
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>



        <!-- <div class="table table-hover table-responsive mt-4">
          
          <table
            class="table table-striped border mt-1"
            style="font-size: 10px"
          >
            <thead class="no-wrap">
              <tr>
                <th>Documento</th>
                <th>Fecha</th>
                <th>Nombre Cliente</th>

                <th>Item</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th>Orden Fabricación</th>
                <th>Comentario</th>
                <th>¿Tiene?</th>
                <th>
                  Imprimir &nbsp;
                  <input
                    class="align-middle"
                    type="checkbox"
                    id="alternaSeleccion"
                    (change)="alternaSeleccion()"
                  />
                </th>
              </tr>
            </thead>
            <tbody id="tbodyPrincipal">
              <tr *ngFor="let PA of listaProtocoloAnalisis">
                <td class="text-dark"><b>{{ PA.numeroDocumento }}</b></td>
                <td class="text-dark"><b>{{ PA.fechaDocumento | date: "shortDate" }}</b></td>
                <td class="text-dark"><b>{{ PA.clienteNombre }}</b></td>
                <td class="text-dark"><b>{{ PA.itemCodigo }}</b></td>
                <td class="text-dark"><b>{{ PA.descripcion }}</b></td>
                <td class="text-dark"><b>{{ PA.cantidadPedida }}</b></td>
                <td class="text-dark"><b>{{ PA.lote }}</b></td>
                <td class="text-dark"><b>{{ PA.ordenFabricacion }}</b></td>
                <td class="text-dark"><b>{{ PA.comentarios }}</b></td>
                <td class="text-dark"><b>{{ PA.protocoloFlag != "S" ? "N" : PA.protocoloFlag }}</b></td>
                <td class="text-center">
                  <input
                    type="checkbox"
                    id="{{ PA.lote }}"
                    [disabled]="PA.protocoloFlag != 'S' ? true : false"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center p-2">
            <ngb-pagination
              [collectionSize]="paginador.totalRegistros"
              [(page)]="page"
              [pageSize]="pageSize"
              [boundaryLinks]="true"
              (pageChange)="cambioPagina($event)"
              [ellipses]="false"
              [maxSize]="5"
              [rotate]="true"
            >
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div> -->

<!-- <ng-template #modalConsultaClientes let-modal>
  <div class="modal-header">
    <i class="fa fa-binoculars mt-1 mr-2" aria-hidden="true"></i>
    <h4 class="modal-title">Búsqueda de Clientes</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form class="w-50 m-b-30 ml-1 row">
          <label class="col-md-3 p-0">Buscar:</label>
          <div class="col-md-9 p-0">
            <div class="col-md-12 p-0">
              <input
                type="text"
                class="form-control"
                placeholder=""
                (keyup)="updateFilter($event)"
              />
            </div>
          </div>
        </form>
        <ngx-datatable
          #table
          class="material"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="10"
          [rows]="GlobalesBusquedaCliente.rows"
        >
          <ngx-datatable-column name="Codigo" prop="persona" [width]="100">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Nombre Completo"
            prop="nombreCompleto"
            [width]="450"
          >
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Estado" prop="estado" [width]="100">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acción" sortable="false" prop="id">
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <button
                md-icon-button
                class="btn btn-success btn-xs"
                (click)="ObtenerCliente(row)"
              >
                Pasar
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-inverse" (click)="modal.dismiss('Cross click')">
      Close
    </button>
  </div>
</ng-template> -->
