<div class="row">
  <div class="col-md-12">
    <!--- Complete Table -->
    <div class="card">
      <div class="card-body">
        <form autocomplete="on" [formGroup]="frmBusqueda" id="frmBusqueda">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group col-md-12">
                <div class="input-group">
                  <label>Fecha Inicio:</label>
                  <div class="mr-0 ml-auto">
                    <button
                      id="btnFechas"
                      class="btn btn-success btn-sm mr-0 h-75"
                      (click)="ActivaDesactivaFechas()"
                      style="padding-top: 2px"
                    >
                      Activar
                    </button>
                  </div>
                </div>
                <div class="input-group">
                  <div>
                    <span class="input-group-text" style="padding: 10px">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <input
                    id="fechaInicio"
                    class="form-control"
                    type="date"
                    formControlName="fechaInicio"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group col-md-12">
                <label>Fecha Fin:</label>
                <div class="input-group">
                  <div>
                    <span class="input-group-text" style="padding: 10px">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <input
                    id="fechaFin"
                    class="form-control"
                    type="date"
                    formControlName="fechaFin"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group col-md-12">
                <label>Cliente:</label>
                <div class="input-group">
                  <div>
                    <a
                      class="input-group-text btn btn-secondary mr-0"
                      style="padding: 10px; cursor: pointer"
                      (click)="openModalConsultaClientes(modalConsultaClientes)"
                    >
                      <i class="fa fa-binoculars" aria-hidden="true"></i>
                    </a>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Nombre de Cliente"
                    type="text"
                    formControlName="nombreCliente"
                    readonly
                  />
                  <div>
                    <a
                      class="input-group-text btn btn-secondary ml-0"
                      style="padding: 10px; cursor: pointer"
                      (click)="LimpiarCliente()"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </div>
                  <input
                    type="text"
                    hidden
                    id="idCliente"
                    formControlName="idCliente"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group col-md-12">
                <label>Orden Fabricación:</label>
                <div class="input-group">
                  <div>
                    <span class="input-group-text" style="padding: 10px">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Orden fabricación"
                    type="text"
                    formControlName="ordenFabricacion"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group col-md-12">
                <label>Lote:</label>

                <div class="input-group">
                  <div>
                    <span class="input-group-text" style="padding: 10px">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Lote"
                    type="text"
                    formControlName="lote"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group col-md-12">
                <label>Tipo Documento:</label>
                <div class="input-group">
                  <span class="input-group-text" style="padding: 10px">
                    <i class="fas fa-list" aria-hidden="true"></i>
                  </span>
                  <select class="form-control" (change)="validacampos()" formControlName="tipoDocu">
                    <option value="N">Ninguno</option>
                    <option value="P">Pedido</option>
                    <option selected value="F">Factura</option>
                    <option value="G">Guia</option>
                    <option value="C">Cotización</option>
                    
                </select>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group col-md-12">
                <label>NrDocumento:</label>

                <div class="input-group">
                  <span class="input-group-text" style="padding: 10px">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </span>
                  <input
                    class="form-control"
                    placeholder="N° Documento"
                    [readonly]="disabledInput"
                    type="text"
                    formControlName="numeroDocumento"
                  />
                </div>
              </div>
            </div>
            
          </div>
          <div class="row pl-2">
            <div class=" form-group pl-2 col-sm-2 col-md-2">
              <select class="custom-select" (change)="CambioEstadoTiene($event)" >
                  <option value="TD">Todos</option>
                  <option value="S">S</option>
                  <option value="N">N</option>
              </select>
            </div>
            <div class="ml-auto p-1">
                <button type="button" class="btn btn-primary" (click)="filtrarProtocoloAnalisis()" >
                    <i class="fa fa-search"></i> Buscar
                </button>
                <button type="button"  class="btn btn-info" (click)="imprimirProtocoloAnalisis(modalGeneracion)" [disabled]="!frmBusqueda.valid" >
                  <i class="fa fa-print"></i> Imprimir
                </button>
            </div>
          </div>
        </form>

        <div class="table table-hover table-responsive mt-4">
          <table
            class="table table-striped border mt-1"
            style="font-size: 10px"
          >
            <thead class="no-wrap">
              <tr>
                <th>Documento</th>
                <th>Fecha</th>
                <th>Nombre Cliente</th>
                <th>Item</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th>Orden Fabricación</th>
                <th>Comentario</th>
                <th>¿Tiene?</th>
                <th>
                  Imprimir &nbsp;
                  <input
                    class="align-middle"
                    type="checkbox"
                    id="alternaSeleccion"
                    (change)="alternaSeleccion()"
                  />
                </th>
              </tr>
            </thead>
            <tbody id="tbodyPrincipal">
              <tr *ngFor="let PA of listaProtocoloAnalisis">
                <td class="text-dark"><b>{{ PA.numeroDocumento }}</b></td>
                <td class="text-dark"><b>{{ PA.fechaDocumento | date: "shortDate" }}</b></td>
                <td class="text-dark"><b>{{ PA.clienteNombre }}</b></td>
                <td class="text-dark"><b>{{ PA.itemCodigo }}</b></td>
                <td class="text-dark"><b>{{ PA.descripcion }}</b></td>
                <td class="text-dark"><b>{{ PA.cantidadPedida }}</b></td>
                <td class="text-dark"><b>{{ PA.lote }}</b></td>
                <td class="text-dark"><b>{{ PA.ordenFabricacion }}</b></td>
                <td class="text-dark"><b>{{ PA.comentarios }}</b></td>
                <td class="text-dark"><b>{{ PA.protocoloFlag != "S" ? "N" : PA.protocoloFlag }}</b></td>
                <td class="text-center">
                  <input
                    type="checkbox"
                    id="{{ PA.lote }}"
                    [disabled]="PA.protocoloFlag != 'S' ? true : false"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center p-2">
            <ngb-pagination
              [collectionSize]="paginador.totalRegistros"
              [(page)]="page"
              [pageSize]="pageSize"
              [boundaryLinks]="true"
              (pageChange)="cambioPagina($event)"
              [ellipses]="false"
              [maxSize]="5"
              [rotate]="true"
            >
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #modalConsultaClientes let-modal>
  <div class="modal-header">
    <i class="fa fa-binoculars mt-1 mr-2" aria-hidden="true"></i>
    <h4 class="modal-title">Búsqueda de Clientes</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form class="w-50 m-b-30 ml-1 row">
          <label class="col-md-3 p-0">Buscar:</label>
          <div class="col-md-9 p-0">
            <div class="col-md-12 p-0">
              <input
                type="text"
                class="form-control"
                placeholder=""
                (keyup)="updateFilter($event)"
              />
            </div>
          </div>
        </form>
        <ngx-datatable
          #table
          class="material"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="10"
          [rows]="GlobalesBusquedaCliente.rows"
        >
          <ngx-datatable-column name="Codigo" prop="persona" [width]="100">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Nombre Completo"
            prop="nombreCompleto"
            [width]="450"
          >
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Estado" prop="estado" [width]="100">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acción" sortable="false" prop="id">
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <button
                md-icon-button
                class="btn btn-success btn-xs"
                (click)="ObtenerCliente(row)"
              >
                Pasar
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-inverse"
      (click)="modal.dismiss('Cross click')"
    >
      Close
    </button>
  </div>
</ng-template>
<ng-template #modalGeneracion let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Generando</h4>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <span class="spinner-border"></span>
    <br />
    <span>Cargando...</span>
  </div>
</ng-template>
