<div class="row mb-2">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4 mt-2">
        <button type="button" [disabled]="flagEsperaOC" class="btn btn-sm btn-primary float-right" (click)="generarOrdenCompra()">
                <i class="fas fa-list-alt" *ngIf="!flagEsperaOC" ></i> 
                <i class="fa fa-spinner fa-spin fa-fw" *ngIf="flagEsperaOC"></i>
                Actualizar OC </button>
    </div>
</div>



<div class="row">
    <div class="col-12" style="height: 80vh;">
        <ngx-datatable class="material" [reorderable]="false" [rows]="ordenCompraPrevio" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
            [sorts]="[{prop: 'name', dir: 'desc'}]" [loadingIndicator]="flagEsperaOC" style="height: 90%;" class="material font-medium" [rowHeight]="50"
            [scrollbarH]="true" [rowClass]="getRowClass">

            <ngx-datatable-column name="Proveedor" prop="descripcionProveedor" [width]="350" [flexGrow]="4">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="font-medium">{{row.descripcionProveedor}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Fecha" prop="fechaPreparacion" [width]="40" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="font-medium">{{row.fechaPreparacion | date : 'dd/mm/yyyy' }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Procedencia" prop="procedencia" [width]="40" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="font-medium">{{row.procedencia}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="MontoTotal" prop="montoTotal" [width]="40" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="font-medium">{{row.montoTotal | number: '1.2-2'}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Monedas" prop="monedaCodigo" [width]="40" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="font-medium">{{row.monedaCodigo }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Estado" prop="estado" [width]="40" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="font-medium">{{row.estado }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Orden Compra" [width]="40" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="btn"  [disabled]="flagEsperaOC"  (click)="verDetalle(row)">
                        <i class=" fas fa-file-alt text-black" style="font-size: 20px;"> </i>
                    </a>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>