<form [formGroup]="FormProtocolo" (ngSubmit)="BuscarinformacionProductoProtocolo()">
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-left border-right border-bottom border-info">
                <div class="card-body">
                    <div class="row justify-content-start">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="Numerolote" formControlName="Numerolote" 
                                        class="form-control form-control-sm font-medium" placeholder="Buscar Numero Lote"
                                        autocomplete="off" aria-label="" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button class="btn mr-0 btn-info btn-sm"
                                             type="submit">
                                            <i class="ti-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-md-6">
                            <label for="producto" class="text-right control-label col-form-label">Producto:</label>
                            <div class="form-group">
                                <b [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.itemdescripcion.value}}</b>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="numerodeparte" class="text-right control-label col-form-label">Numero de
                                Parte:</label>
                            <div class="form-group">
                                <b [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.numerodeparte.value}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
                                <ngb-panel id="custom-panel-1">
                                    <ng-template ngbPanelHeader let-opened="opened">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h5 class="m-0">Más Datos...</h5>
                                            <button ngbPanelToggle  class="btn btn-link p-0"><i class="fas fa-window-minimize"></i></button>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent >
                                        <div class="row justify-content-start">
                                            <div class="col-md-3">
                                                <label for="producto" class="text-right control-label col-form-label">Presentación:</label>
                                                <div class="form-group">
                                                    <p [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.presentacion.value}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="numerodeparte" class="text-right control-label col-form-label">Fecha de Fabricación</label>
                                                <div class="form-group">
                                                    <b [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.fechaproduccion.value | date:'dd/MM/yyyy'}}</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="fechaanalisis" class="text-right control-label col-form-label">N°Lote</label>
                                                <div class="form-group">
                                                    <b [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.Numerolote.value}}</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ordenfabricacion" class="text-right control-label col-form-label">Orden Fabricación:</label>
                                                <div class="form-group">
                                                    <b [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.ordenfabricacion.value }}</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-start">
                                            <div class="col-md-3">
                                                <label for="producto" class="text-right control-label col-form-label">Tamaño de Lote:</label>
                                                <div class="form-group">
                                                    <b [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.cantidadproducida.value | number}}</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="numerodeparte" class="text-right control-label col-form-label">Fecha de Expira</label>
                                                <div class="form-group">
                                                    <b [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.fechaexpiracion.value | date:'dd/MM/yyyy'}}</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="fechaanalisis" class="text-right control-label col-form-label">Marca</label>
                                                <div class="form-group">
                                                    <b [style]="'font-size:13px;color:#3c8dbc;font-weight:800'">{{this.FormProtocolo.controls.marca.value}}</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-lg-12">
        <div class="card  border-left border-right border-bottom border-info">
            <div class="card-body">
                <div class="d-flex justify-content-around">
                        <button type="button"  (click)="AbrirInterfaceControlProceso()" class="btn btn-warning btn-sm" > Control de Prueba - Interno </button>
                        <button type="button" (click)="AbrirInterfaceControlProductoTerminado()" class="btn btn-primary btn-sm" > Control de Prueba - PT </button>
                        <button type="button" (click)="AbrirPruebaEfectuadas()" class="btn btn-info btn-sm">Formato del Protocolo </button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>