
<div class="row">
    <div class="col-12">
        <div class="card border-left border-info">
            <div class="card-header bg-info text-white" style="font-weight: bold;">
                Compra nacional e importada
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group d-flex">
                            <label class="col-12 col-sm-4 col-md-4 control-label col-form-label">Material</label>
                            <div class="col-12 col-sm-7 col-md-7">
                                <select class="custom-select"  [formControl]='material' >
                                    <option value="1">Material Importación</option>
                                    <option value="2">Material Nacional</option>
                                    <option value="3">Commodity</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  d-flex justify-content-center">
                        <div class="form-group">
                            <button class="btn btn-info btn-sm text-white" (click)="listadoComprasAguja()">
                                <i class="fa fa-spinner fa-spin fa-fw" *ngIf="flagEspera"></i> 
                                <i class="fas fa-search" *ngIf="!flagEspera"></i> Buscar</button>
                            
                            <button class="btn btn-success btn-sm text-white" (click)="exportarExcel(modalExportarReporte)"
                                style="background-color: #25aa00;border: none;">
                                <i class="fas fa-file-excel"></i> Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" style="float: left"  [formControl]='textFiltrarNacionalImportacion' placeholder="Buscar Item o Descripción" class="form-control rounded-pill font-bold">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  d-flex justify-content-start"></div>
                <div class="col-md-4  d-flex justify-content-center"></div>
                <div class="col-md-4 d-flex justify-content-end">
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [formControl]="checkMostrarColumna"  class="custom-control-input"
                                id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Visualizar detalle</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" style="height: 85vh;">
                    <ngx-datatable class="material" [rows]="listadoCompraNacionalImportada"
                        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="42" 
                        [scrollbarV]="true" [sorts]="[{prop: 'name', dir: 'desc'}]"  style="height: 90%;" class="material font-medium" 
                        [loadingIndicator]="flagEspera" [scrollbarH]="true" [rowClass]="getRowClass">

                        <!-- [frozenLeft]="true"  -->
                        <ngx-datatable-column name="ItemFinal" prop="itemFinal" [width]="20">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span  style="font-size: 12px !important" [ngStyle]="{ 'color': row.gestionLetras }" class="font-medium">{{row.itemFinal }}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Descripción" prop="descripcionLocal" 
                            [width]="180">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span  style="font-size: 12px !important" [ngStyle]="{ 'color': row.gestionLetras }" class="font-medium">{{row.descripcionLocal }}</span>
                            </ng-template>
                        </ngx-datatable-column>
<!-- 
                        <ngx-datatable-column name="Familia" prop="familiaLarga" [width]="120">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span class="font-medium">{{row.familiaLarga }}</span>
                            </ng-template>
                        </ngx-datatable-column> -->

                        <ngx-datatable-column name="Duración" prop="duracion" [width]="50">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span  style="font-size: 12px !important" class="font-medium">{{row.duracion | number : '1.2-2'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Cons.mensual" prop="pronostico" [width]="50">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.pronostico | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="CantComprar" prop="cantidadComprar" [width]="60" [flexGrow]="2">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span  style="font-size: 12px !important" class="font-medium">{{row.cantidadComprar | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="T.Compra" prop="tiempoCompra"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span  style="font-size: 12px !important" class="font-medium">{{row.tiempoCompra | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="T.Pago" prop="tiempoPago" *ngIf="this.checkMostrarColumna.value"
                            [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span  style="font-size: 12px !important" class="font-medium">{{row.tiempoPago | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="T. Aprobacion" prop="tiempoAprobacion"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.tiempoAprobacion | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="T. Fabricacion" prop="tiempofabricacion"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.tiempofabricacion | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="T. Transporte" prop="tiempoTransporte"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.tiempoTransporte | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="T. Aduana" prop="tiempoAduanas"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.tiempoAduanas | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="CantMinima" prop="cantidadMinima" [width]="50" *ngIf="this.checkMostrarColumna.value" >
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.cantidadMinima | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Maximo stock" prop="maximoStock" [width]="50" *ngIf="this.checkMostrarColumna.value" >
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.maximoStock | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Punto corte" prop="puntoCorte" [width]="50" *ngIf="this.checkMostrarColumna.value" >
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.puntoCorte | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Disp - Planta" prop="almacen" [width]="50">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.almacenMenosPlanta | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- <ngx-datatable-column name="Almacen" prop="almacen" [width]="50">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span class="font-medium">{{row.almacen | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column> -->

                        <!-- <ngx-datatable-column name="Planta" prop="planta"   *ngIf="this.material.value != '3'" [width]="50">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span class="font-medium">{{row.planta | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column> -->

                        <ngx-datatable-column name="Disponible" prop="Almacen" [width]="50">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.almacen | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="OC(Preparacion)" prop="preparacionOC" [width]="60">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" *ngIf="row.preparacionOC<=0" class="font-medium">{{row.preparacionOC | number:'1.0-0' }}</span>
                                <button class="btn btn-sm btn-outline-primary btn-rounded font-medium d-flex align-items-start" type="button"
                                    *ngIf="row.preparacionOC>0" (click)="abrirModalMostrarOC(modalPendiente, row.itemFinal, 'Preparacion',  row.descripcionLocal)">
                                    {{ row.preparacionOC | number : '1.0-0' }}
                                </button>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Transito" prop="pendienteOC" [width]="60">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" *ngIf="row.pendienteOC<=0" class="font-medium">{{row.pendienteOC | number:'1.0-0' }}</span>
                                <button class="btn btn-sm btn-outline-primary btn-rounded font-medium" type="button"
                                    *ngIf="row.pendienteOC>0" (click)="abrirModalMostrarOC(modalPendiente, row.itemFinal, 'Aprobados', row.descripcionLocal)">
                                    {{ row.pendienteOC | number : '1.' }}
                                </button>
                            </ng-template>

                        </ngx-datatable-column>

                        <ngx-datatable-column name="Aduanas" prop="aduanas" *ngIf="this.material.value == '1'" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.aduanas | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="C.Calidad" prop="controlCalidad"  *ngIf="this.material.value != '3'" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.controlCalidad | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- <ngx-datatable-column name="Stock calculado" prop="disponible" [width]="50">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span class="font-medium">{{row.disponible | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column> -->

                        <ngx-datatable-column name="Dia potencial" prop="diasPotencial"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.diasPotencial | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Consumo dia" prop="consumoDia"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.consumoDia | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Dias llegada"  prop="demoraLlegarProducto"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.demoraLlegarProducto | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Desviacion"  prop="desviacionCompra"
                            *ngIf="this.checkMostrarColumna.value" [width]="30">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.desviacionCompra | number : '1.1-1'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="DiasEspera" prop="diasEspera" [width]="50">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium"
                                    [ngStyle]="{ 'color': row.diasEspera > 0 ? 'blue' : 'red' }">{{row.diasEspera}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Variacion" prop="variacion"
                            *ngIf="this.checkMostrarColumna.value" [width]="40">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="font-size: 12px !important" class="font-medium">{{row.variacion | number : '1.0-0'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        

                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalPendiente let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            Ordenes de compra
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-info">ITEM: {{this.itemModal}} - {{this.descripcionModal}}</p>
        <div class="table-responsive table-sm">
            <table class="table table-striped no-wrap border" style="font-size: 13px;">
                <thead>
                    <tr>
                        <th class="text-center">Nro Orden</th>
                        <th class="text-center">Proveedor</th>
                        <th class="text-center">C. Pedido</th>
                        <th class="text-center">C. Recibida</th>
                        <th class="text-center">C. Pendiente</th>
                        <th class="text-center">Fec. Prometida</th>
                        <th class="text-center">Dif. Días</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ordenCompra of listaDettalleOC">
                        <td class="text-center font-medium">
                            {{ ordenCompra['numeroOrden'] }}
                        </td>
                        <td class="text-center font-medium">
                            {{ ordenCompra['proveedor'] }}
                        </td>
                        <td class="text-center font-medium">
                            {{ ordenCompra['cantidad'] | number }}
                        </td>
                        <td class="text-center font-medium">
                            {{ ordenCompra['cantidadRecibida'] | number }}
                        </td>
                        <td class="text-center font-medium">
                            {{ ordenCompra['pendienteOC'] | number }}
                        </td>
                        <td class="text-center font-medium">
                            {{ ordenCompra['fecha'] | date:'dd/MM/yyyy' }}
                        </td>
                        <td class="text-center font-medium"
                            [ngStyle]="{'color':ordenCompra['diferenciaFecha']>0 ? '#FC0000':'#27E900' }">
                            {{ ordenCompra['diferenciaFecha'] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>




<ng-template #modalExportarReporte let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
          Descargar Excel
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
              <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" [formControl]="reporteArima" [value]="'importacion'" id="customControlValidation2" name="radio-stacked">
                  <label class="custom-control-label" for="customControlValidation2">Importación</label>
              </div>
              <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" [formControl]="reporteArima" [value]="'nacional'" id="customControlValidation3" name="radio-stacked">
                  <label class="custom-control-label" for="customControlValidation3">Nacional</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" [formControl]="reporteArima" [value]="'ambas'" id="customControlValidation4" name="radio-stacked">
                <label class="custom-control-label" for="customControlValidation4">Ambas</label>
            </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="aceptarDescarga()" class="btn btn-rounded btn-sm btn-info">
            <i class="fas fa-file-excel" *ngIf="!flagExcel"></i>
            <i class="fa fa-spinner fa-spin fa-fw" *ngIf="flagExcel"></i>
            Descargar</button>
        <button type="button" (click)="modal.dismiss('Cross click')"
          class="btn btn-rounded btn-sm btn-secondary">Cancelar</button>
      </div>
</ng-template>