:host /deep/ .row-color-gestioncompra {
    background-color: #FFFFFF;
} 

:host /deep/ .row-color-nocomprar {
    background-color: #FFFF00;
} 

:host /deep/ .row-color-comercial {
    background-color: #B4C6E7;
} 
