<div class="row">

    <div class="card-body"   >
    <form (ngSubmit)="save()"  [formGroup]="form" >
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Documento a Elegir</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
           
            <div class="form-group">
                <label>Debe seleccionar un formato de cotizacion</label>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <select formControlName="SeleccionFormato" class="form-control">
                                <option disabled selected [value]="null" >Seleccione un formato</option>
                                <option *ngFor="let formato of ListaFormatos" [value]="formato.idFormato" >
                                {{formato.formato}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="modal-footer">
            <button type="submit"  [disabled]="!form.valid" class="btn btn-rounded btn-success">Aceptar</button>
        </div>

    </form>
        
    </div>
</div>