<div class="row ">
    <div class="card-body">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" stype="font-size: 14px">
                <h5>Orden de compra vencidas</h5>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="width: auto;overflow-y: auto; height:  20rem">
            <!-- <form [formGroup]="formFiltro"></form> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped table-hover border mt-4" style="font-size: 12px">
                                <thead>
                                    <tr>
                                        <th class="text-center">¿Excluir en tránsito?</th>
                                        <th class="text-center">Documento</th>
                                        <th class="text-center">Item</th>
                                        <th class="text-center">Cant.Pedida</th>
                                        <th class="text-center">Cant.Recibida</th>
                                        <th class="text-center">Comentario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let compra of mostrarOrdenCompra">
                                        <td class="text-center">
                                            <button type="button" class="btn btn-circle btn-sm  btn-{{compra.excluir=='N' ? 'danger' : 'success'}}" (click)="cambioEstado(compra)">
                                                <i *ngIf="compra.excluir=='S'" class="fa fa-check"></i>
                                                <i *ngIf="compra.excluir=='N'" class="fa fa-times"></i>
                                              </button>
                                        </td>
                                        <td class="text-center font-medium">{{ compra.numeroOrden }}</td>
                                        <td class="text-center font-medium">{{ compra.item }}</td>
                                        <td class="text-center font-medium">{{ compra.cantidadPedida }}</td>
                                        <td class="text-center font-medium">{{ compra.cantidadRecibida }}</td>
                                        <td class="text-center font-medium">{{ compra.comentario }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="modal-footer">
            
        </div>
    </div>
</div>