<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <Form [formGroup]="FormRangoFechas">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fechainicio" class="text-right control-label col-form-label">Inicio</label>
                            <div class="form-group">
                                <input type="date" formControlName="fechainicio" class="form-control form-control-sm font-medium"
                                    placeholder="Fecha Inicio">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="fechafinal" class="text-right control-label col-form-label">Final</label>
                            <div class="form-group">
                                <input type="date"  formControlName="fechafinal" class="form-control form-control-sm font-medium"
                                    placeholder="Fecha Fin">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="btnbuscarGeneral"
                                class="col-sm-3 text-right control-label col-form-label text-white">.</label>
                            <div class="form-group">
                                <button type="submit" (click)="ExportarExcel()"
                                    class="btn btn-succes btn-sm text-white" style="background-color: #4b971c;">
                                    <i class="fas fa-file-excel"></i> Excel </button>
                            </div>
                        </div>
                    </div>
                </div>
            </Form>
        </div>
    </div>
</div>


<div class="row">
    <!-- Column BLOQUE 1 -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
            <ngb-tabset>
                <ngb-tab title="Asignacion">
                    <ng-template ngbTabContent>
                       
                            <div class="row">
                                <select [(ngModel)]="idAreaPersonal" class="form-control" class="form-control form-control-sm font-medium">
                                    <option class="font-medium" disabled selected [value]="0">Seleccione un Area</option>
                                    <option class="font-medium" *ngFor="let area of ListarArea" [value]="area.idArea">
                                        {{area.descripcion}}
                                    </option>
                                </select>
                            </div>
                            <div class="row justify-content-between pb-1 pt-1">
                                <input type="text" name='filtro' autocomplete="off" [(ngModel)]="buscarNombre"
                                    (ngModelChange)="filtroNombreCompleto()" class="form-control col-md-6 form-control-sm"
                                    placeholder="Buscar Nombre">
                                <h6>Total: {{this.ListarPersonaLaboral.length}}</h6>
                                <button type="button" [disabled]="botonestado" (click)="Guardar()"
                                    class="btn btn-info btn-sm rounded"><i class="fas fa-file-alt"></i> Guardar </button>
                            </div>
                            <div class="row">
                                <div class="table-hover table-responsive table-bordered scrollvertical">
                                    <table class=" table table-striped border table-sm table-hover">
                                        <thead style="font-size: 12px" class="bg-info text-white table-bordered">
                                            <tr>
                                                <th class="text-center">
                                                    <input type="checkbox" [(ngModel)]="MaestroSeleccion" name="list_name"
                                                        value="h1" (change)="checkTodo()" />
                                                </th>
                                                <th class="text-center">Id</th>
                                                <th class="text-center">Apellido y Nombre</th>
                                                <th class="text-center">Hora</th>
            
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 13px">
                                            <tr *ngFor="let persona of ListarPersonaLaboral; let i = index">
                                                <td class="text-center">
                                                    <input type="checkbox" [(ngModel)]="persona.isSelected" name="list_name"
                                                        (change)="SeleccionaItem(persona)" value="{{ persona.idEmpleado}}" />
                                                </td>
                                                <td class="text-center font-medium">{{persona.idEmpleado }}</td>
                                                <td class="text-left font-medium">{{persona.nombreCompleto}}</td>
                                                <td class="text-center font-medium">{{persona.hora}}</td>
                                                <!-- <td class="text-center">
                                                    <button class="btn btn-outled btn-outline-danger" style="font-size: 12px;" type="button" 
                                                                (click)="EliminarPersona(persona,i)"> <i class="fas fa-trash-alt"></i> 
                                                    </button>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                       
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Area">
                    <ng-template ngbTabContent>
                        <app-area [ListarArea]="ListarArea" (enviarRespuesta)="recibirMensaje($event)" (enviarRespuesta2)="RefrescarInformacion($event)"></app-area>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            </div>
        </div>
    </div>
    <!-- Column BLOQUE 2 -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <ngb-tabset>
                    <ngb-tab title="Informacion">
                        <ng-template ngbTabContent>
                            <div class="row p-2">
                                <select  [formControl]="idAreaClasificacion" class="form-control"
                                    class="form-control form-control-sm font-medium">
                                    <option  class="font-medium" selected [value]="0">Seleccione el filtro</option>
                                    <option class="font-medium" *ngFor="let clasificacion of listadoClasificacionArea" [value]="clasificacion.idClasificacionArea">
                                        {{clasificacion.descripcion}}
                                    </option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="table-hover table-responsive table-bordered">
                                    <table class=" table table-striped border table-sm table-hover">
                                        <thead style="font-size: 12px" class="bg-info text-white table-bordered">
                                            <tr>
                                                <th class="text-center font-medium">Area</th>
                                                <th class="text-center font-medium">Asistieron</th>
                                                <th class="text-center font-medium">Faltaron</th>
                                                <th class="text-center font-medium">Total</th>
                                                <th class="text-center font-medium">...</th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 13px">
                                            <tr *ngFor="let area of ListarAreaContar; let i = index">
                                                <td class="text-left font-medium">{{area.descripcion }}</td>
                                                <td class="text-center  text-primary font-medium">{{area.asistio}}</td>
                                                <td class="text-center font-medium">
                                                    <span [ngStyle]="{ 'color': area.falto > 0 ? 'red' : 'black' }">{{area.falto}}</span>
                                                </td>
                                                <td class="text-center font-medium">{{area.total}}</td>
                                                <td class="text-center font-medium">
                                                        <button class="btn btn-xs btn-primary font-medium" (click)="mostrarPersonaFaltante(area)"> <i class="fas fa-child"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td class="text-center font-medium bg-info text-white table-bordered">Total</td>                                                   
                                                    <td class="text-center font-medium">{{this.cantidadAsistio}}</td>
                                                    <td class="text-center font-medium">{{this.cantidadFalto}}</td>
                                                    <td class="text-center font-medium">{{this.cantidadAsistio + this.cantidadFalto}}</td>
                                                    <td class="text-center font-medium">---</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle ><b>Detalle</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="row pt-1">
                                <select [(ngModel)]="idAreaPersonalFiltrada" class="form-control"
                                    class="form-control form-control-sm">
                                    <option selected [value]="0">Seleccione un Area</option>
                                    <option *ngFor="let area of ListarArea" [value]="area.idArea">
                                        {{area.descripcion}}
                                    </option>
                                </select>
                            </div>
                            <div class="row justify-content-between pb-1 pt-1 ">
                                <input type="text" name='filtro' autocomplete="off" [(ngModel)]="buscarpersonaArea"
                                    class="form-control col-md-6 form-control-sm font-medium" placeholder="Buscar Nombre">
                                <button type="button" (click)="filtrarArea()" class="btn btn-info btn-sm rounded"><i
                                        class="fas fa-search"></i> Busqueda </button>
                                <h6 class="font-medium">Total: {{this.ListarFiltrarAreaPersona.length}}</h6>
                            </div>
                            
                            <div class="row">
                                <div class="table-hover table-responsive table-bordered scrollvertical">
                                    <table class=" table table-striped border table-sm table-hover">
                                        <thead style="font-size: 12px" class="bg-info text-white table-bordered">
                                            <tr>
                                                <th class="text-center">Opcion</th>
                                                <th class="text-center">Id</th>
                                                <th class="text-center">Apellido y Nombre</th>
                                                <th class="text-center">Area</th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 11px">
                                            <tr *ngFor="let persona of ListarFiltrarAreaPersona; let i = index">
                                                <td class="text-center">
                                                    <a class="cursor-pointer" (click)="LiberalPersona(persona)">
                                                        <i style="font-size: 16px;color: #ff6961;"
                                                            class=" fas fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center font-medium">{{persona.idAsignacion }}</td>
                                                <td class="text-left font-medium">{{persona.nombreCompleto}}</td>
                                                <td class="text-left font-medium">{{persona.descripcion}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>

            </div>
        </div>
    </div>
</div>