<div class="row">
    <div class="card-body">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"><strong>MATERIA PRIMA</strong>: {{this.itemRow.codigoItem}} ( {{this.itemRow.item}} )
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="height: 60vh">
            <form action="" [formGroup]="ResumenFormulario">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="card">
                            <div class="card-body">
                                <div class="row p-1">
                                    <div class="table-responsive scroll-group2">
                                        <table class="table" style="font-size: 9px">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Item</th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">C.Unitario</th>
                                                    <th scope="col">Opción</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 9px">
                                                <tr
                                                    *ngFor="let ItemComponente of ListadoMateriaPrima.controls; let i = index">
                                                    <ng-container [formGroup]="ItemComponente"> 
                                                        <td>
                                                            <b>{{ItemComponente.value.itemcomponente}}</b>
                                                        </td>
                                                        <td>
                                                            <b>{{ItemComponente.value.material}}</b>
                                                        </td>
                                                        <td>
                                                            <b>{{ItemComponente.value.cantidad | number}}</b>
                                                        </td>
                                                        <td>
                                                            <b>{{ItemComponente.value.costoUnitarioSoles | number }}</b>
                                                        </td>
                                                        <td>
                                                            <a  (click)="OpenModalItem(ItemComponente.value)" style="font-size: 15px; margin-right: 0.2rem;" class="cursor-pointer"> <i class="fas fa-search text-info"></i></a>
                                                        </td>
                                                    </ng-container>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col-md-12">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend input-group-prepend-s">
                                                <span class="input-group-text">Total Materia Prima</span>
                                            </div>
                                            <input type="number"  [attr.disabled]="true" formControlName="CostoTotal" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend input-group-prepend-s">
                                                <span class="input-group-text">Mano de obra</span>
                                            </div>
                                            <input type="number" formControlName="ManoObra" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend input-group-prepend-s">
                                                <span class="input-group-text">CIF</span>
                                            </div>
                                            <input type="number" formControlName="Cif" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" style="font-size: 9px;">COSTO UNITARIO
                                                TOTAL:</label>
                                            <input type="number" class="form-control form-control-sm" formControlName="CostoUnitario">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" style="font-size: 9px;">RENT.ESPERADA:</label>
                                            <input type="number" class="form-control form-control-sm" formControlName="RentEsperada" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" style="font-size: 9px;">PRECIO UNITARIO:</label>
                                            <input type="number" class="form-control form-control-sm" formControlName="PreUnitario">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="row p-1">
                                    <table class="table" style="font-size: 9px">
                                        <thead>
                                            <tr>
                                                <th scope="col">Item</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">C.Unitario</th>
                                                <th scope="col">Opción</th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 9px">
                                           

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>