<div class="row">
    <div class="col-md-12">
        <div class="card border-left border-info">
            <div class="card-body">
                <form autocomplete="off" [formGroup]="formFiltros" (submit)="filtroBuscar()">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="text-right control-label col-form-label">Gerencia:</label>
                            <div class="form-group">
                                <select class="form-control  form-control-sm font-medium" formControlName="gerencia">
                                    <option value="Suturas" class="font-medium">Suturas</option>
                                    <option value="Plasticos" class="font-medium">Plasticos</option>
                                    <option value="Demas agrupadores" class="font-medium">Demas Agrupadores </option>
                                  
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="text-right control-label col-form-label">Agrupadores</label>
                            <div class="form-group">
                                <!-- <select class="form-control  form-control-sm font-medium"  formControlName="agrupador">
                                    <option value="">Eliga un agrupador</option>
                                    <option *ngFor="let agrupador of agrupadores"  class="font-medium" [value]="agrupador.idAgrupador">
                                        {{agrupador.agrupador}}
                                    </option>
                                  </select> -->
                                  <ng-multiselect-dropdown #multiSelect style="font-size: 12px;" class="font-medium" placeholder="Agrupador" [settings]="dropdownSettings" [data]="agrupadores" formControlName="agrupador"> 
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="lote" class="text-right control-label col-form-label">Lote:</label>
                            <div class="form-group">
                                <input type="text" formControlName="lote" [readOnly]="!activarCampo" class="form-control form-control-sm font-medium">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="ordenFabricacion" class="text-right control-label col-form-label">Orden fabricación:</label>
                            <div class="form-group">
                                <input type="text" formControlName="ordenFabricacion" [readOnly]="!activarCampo" class="form-control form-control-sm font-medium">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="text-right control-label col-form-label">Tipo Ventas:</label>
                            <div class="form-group">
                                <select class="form-control  form-control-sm font-medium" formControlName="venta">
                                    <option value="RFC" class="font-medium">Refacturación - RFC</option>
                                    <option value="EXP" class="font-medium">Exportación - EXP</option>
                                    <option value="VTM" class="font-medium">Venta Muestra - VTM</option>
                                    <option value="STP" class="font-medium">Stock Permanente - STP</option>
                                    <option value="LIC" class="font-medium">Licitaciones - LIC</option>
                                    <option value="NOR" class="font-medium">Compra Directa - NOR</option>
                                    <option value="VTH" class="font-medium">Venta Horizontal - VTH</option>
                                    <option value="SER" class="font-medium">Servicios - SER</option>
                                    <option value="null" class="font-medium">Sin Identificador</option>
                                </select>
                            </div>
                        </div>
                       
                      
                    </div>
                    
                    <div class="row ">
                        <div class="col-md-2">
                            <label class="text-right control-label col-form-label">Estado:</label>
                            <div class="form-group">
                                <select class="form-control  form-control-sm font-medium"   formControlName="estado">
                                    <option value="PR" class="font-medium">Programado</option>
                                    <option value="NPR" class="font-medium">No programado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="fechainicio" class="text-right control-label col-form-label">Fecha
                                inicio:</label>
                            <div class="form-group">
                                <input type="date" formControlName="fechaInicio"
                                    class="form-control form-control-sm font-medium" [readOnly]="activarCampo" placeholder="Fecha Inicio">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="fechafinal" class="text-right control-label col-form-label">Fecha final:</label>
                            <div class="form-group">
                                <input type="date" formControlName="fechaFinal"
                                    class="form-control form-control-sm font-medium" [readOnly]="activarCampo" placeholder="Fecha Final">
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <label class="text-right control-label col-form-label">&nbsp;&nbsp;</label>
                            <div class="form-group">
                                <button class="btn btn-sm btn-info">   <i class="fa fa-search"></i>&nbsp;&nbsp;Buscar&nbsp;</button>
                            </div>
                         </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="col-md-12" style="height: 80vh;">
            <ngx-datatable 
            class="material" 
            [rows]="listOrdeFabricacionProgramacion" 
            columnMode="force"  
            style="height: 90%;" 
            [headerHeight]="50" 
            [footerHeight]="50" 
            [rowHeight]="50"  
            [loadingIndicator]="loadingTable"
            [scrollbarV]="true"
            [scrollbarH]="true">
                <ngx-datatable-column name="..."  prop="comentarios" [width]="50" [frozenLeft]="true" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template class="d-flex justify-content-cente">
                        <button class="btn btn-info btn-sm" (click)="abrirComentario(row)"> <i class="fas fa-calendar-alt"></i></button>    
                    </ng-template>
                </ngx-datatable-column>     
                <ngx-datatable-column name="OrdeFabricacion" prop="ordenFabricacion" [width]="60" [frozenLeft]="true" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium" [ngbTooltip]="row.ordenFabricacion" >{{row.ordenFabricacion}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Lote" prop="lote" [width]="60" [frozenLeft]="true" [flexGrow]="1" >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium" [ngbTooltip]="row.lote">{{row.lote}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="F.Producción"  prop="fechaProduccion" [width]="65" [frozenLeft]="true" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium" [ngbTooltip]="row.fechaProduccion | date:'dd-MM-YYYY'" >{{row.fechaProduccion | date:'dd-MM-YYYY'}}</span>
                    </ng-template>
                </ngx-datatable-column>
              
                <ngx-datatable-column name="Item" prop="item" [width]="60" [frozenLeft]="true" [flexGrow]="3">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium" [ngbTooltip]="row.item">{{row.item}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Descripcion" prop="descripcionLocal" [width]="550"  [frozenLeft]="true" [flexGrow]="15">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium"  [ngbTooltip]="row.descripcionLocal" >{{row.descripcionLocal}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="C.Programada" prop="cantidadProgramada" [width]="100" [frozenLeft]="true" [flexGrow]="4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium">{{row.cantidadProgramada | number: '1.0-0'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="C.Pedida" prop="cantidadPedida" [width]="80" [flexGrow]="4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium">{{row.cantidadPedida | number: '1.0-0'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="C.Muestra" prop="cantidadMuestra" [width]="80" [flexGrow]="4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium">{{row.cantidadMuestra | number: '1.0-0'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="C.Producida" prop="cantidadProducida" [width]="80" [flexGrow]="4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium">{{row.cantidadProducida | number: '1.0-0'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                  <ngx-datatable-column name="Tipo" prop="referenciaTipo" [width]="100" [flexGrow]="4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium">{{row.referenciaTipo}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="F.Requerida"  prop="fechaRequerida" [width]="100" [flexGrow]="4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium">{{row.fechaRequerida | date:'dd-MM-YYYY'}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="F.Inicio"  prop="fechaProgramadaInicio" [width]="100" [flexGrow]="4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium">{{row.fechaProgramadaInicio | date:'dd-MM-YYYY'}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="F.Entrega"  prop="fechaEntrega" [width]="100" [flexGrow]="4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class="font-medium">{{row.fechaEntrega | date:'dd-MM-YYYY'}}</span>
                    </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
        </div>
    </div>
  </div>
