<div class="row">
    <div class="card-body overflow-auto">
    <form>
        <div class="modal-header" >
            <h4 class="modal-title" id="modal-basic-title">Formato de descarga</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body scroll-group">
            
            <div class="table table-hover">
                <table class="table table-striped border mt-4" style="font-size: 11px">
                    <thead class="no-wrap">
                        <tr>
                          
                            <th>Formato</th>
                            <th>Registrado por </th>
                            <th>Fecha registro</th>
                            <th>Modificado por </th>
                            <th>Fecha modificacion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let descarga of ListaDescarga">
                            
                            <td>{{ descarga.formato }}</td>
                            <td>{{ descarga.usuarioRegistro }}</td>
                            <td>{{ descarga.fechaRegistro  | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                            <td>{{ descarga.usuarioModificacion }}</td>
                            <td>{{ descarga.fechaModificacion | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                            <td align="center">
                                <!-- <button  type="button" class="btn btn-xs p-1 btn-info waves-effect waves-light" (click)="Editar(descarga)">
                                    <span class="btn-label"><i class="fas fa-edit"></i></span>  
                                </button> -->
                                <!-- <button type="button"  class="btn btn-sm  p-1" (click)="GenerarCotizacion(modalGeneracion,descarga)">
                                    <span class="btn-label"><i class="far fa-2xl fa-file-excel" ></i></span>
                                </button> -->

                                <a class="pointer mr-2" (click)="Editar(descarga)">
                                    <i  style="font-size: 20px;color: #1475f6;" class="fas fa-clipboard-list" ></i>
                                </a>
                                <a  class="pointer" (click)="GenerarCotizacion(modalGeneracion,descarga)">
                                    <i  style="font-size: 20px;color: #1A8E1E;" class="far  fa-file-excel quitarhover" ></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
    </form>
        
    </div>
</div>


<!-- GENERADOR DE PDF -->
<ng-template #modalGeneracion let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Generando el excel</h4>
    </div>
    <div class="modal-body" align="center">
        
            <span class="spinner-border text-info"></span>
            <br />
            <span class="text-info">Cargando...</span>
      
    </div>
</ng-template>