<div class="row">
    <div class="card-body overflow-auto">
    <form>
        <div class="modal-header" >
            <h4 class="modal-title" id="modal-basic-title">Formato de descarga</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body croll-group">
            
            <div class="table table-hover">
                <table class="table table-striped border mt-4" style="font-size: 11px">
                    <thead class="no-wrap">
                        <tr>
                            <th>ID Formato</th>
                            <th>Formato</th>
                            <th>Registrado por </th>
                            <th>Fecha registro</th>
                            <th>Modificado por </th>
                            <th>Fecha modificacion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let descarga of ListaDescarga">
                            <td>{{ descarga.idFormato }}</td>
                            <td>{{ descarga.formato }}</td>
                            <td>{{ descarga.usuarioRegistro }}</td>
                            <td>{{ descarga.fechaRegistro  | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ descarga.usuarioModificacion }}</td>
                            <td>{{ descarga.fechaModificacion | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                <a href="javascript: void(0);" class="link" (click)="Editar(descarga)">
                                    <i class="fas fa-edit text-info pointer p-1" size="25px"></i>
                                </a>
                                <a href="javascript: void(0);" class="link" (click)="GenerarCotizacion(descarga)">
                                    <i class="fas fa-file-excel text-primary pointer p-1" size="25px"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
    </form>
        
    </div>
</div>