<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <form autocomplete="off" [formGroup]="form">
        <div class="card-body">
          <div class="row d-flex">


            <div class="p-2 col-md-3">
              <label class="text-right">Entrega </label>
                <div class="form-group">
                  <select class="custom-select mr-sm-2" (change)="Filtrar()" formControlName="NumeroEntrega"
                    id="inlineFormCustomSelect">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>
              
            </div>

            <div class="ml-auto p-2 align-self-center">
              <button type="button" class="btn btn-info " [disabled]="DeshabilitarBoton" (click)="Guardar()"><i
                class="fa fa-save"></i>
                Guardar</button>
              <button type="button" class="btn btn-secondary" (click)="Salir()"> <i
                class=" fas fa-reply"></i> Regresar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block align-items-center">
          <div class="table-responsive" style="font-size: 11px; height:  20rem">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">N°Item</th>
                  <th class="text-center">Codigo de Items</th>
                  <th class="text-center">Descripción Items</th>
                  <th class="text-center">Temperatura</th>
                  <th class="text-center">Registro Sanitario</th>
                  <th class="text-center">Protocolo</th>
                  <th class="text-center">Muestra</th>
                  <th class="text-center">Ensayo</th>
                </tr>

              </thead>
              <tbody id="tbodyDetalle" class="border" style="font-size: 11px;">
                <tr *ngFor="let lessonForm of ProgramacionMuestreo.controls; let i = index">
                  <ng-container [formGroup]="lessonForm">
                    <td class="text-center">
                      <b>{{lessonForm.value.numeroItem}}</b>
                    </td>
                    <td class="text-center">
                      <b>{{lessonForm.value.codItem}}</b>
                    </td>
                    <td class="text-left">
                      <b>{{lessonForm.value.descripcionItem}}</b>
                    </td>
                    <td class="text-center">
                      <div class="input-group input-group-sm" style='width:7rem'>
                        <input type="text" class="form-control form-control-sm" formControlName="temperatura" />
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="input-group input-group-sm" style='width:7rem'>
                        <input type="text" class="form-control form-control-sm" formControlName="registroSanitario" />
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="input-group input-group-sm" style='width:7rem'>
                        <input type="text" class="form-control form-control-sm" formControlName="protocolo" />
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="input-group input-group-sm" style='width:7rem'>
                        <input type="text" class="form-control form-control-sm" formControlName="numeroMuestreo" />
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="input-group input-group-sm" style='width:7rem'>
                        <input type="text" class="form-control form-control-sm" formControlName="numeroEnsayo" />
                      </div>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>