<div class="row">
  <div class="col-12">
    <div class="card border-left border-dark">
      <div class="card-body">
        <form autocomplete="off" [formGroup]="filtrosForm">
          <div class="row">
            <div class="m-0 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3">
              <div class="form-group row d-flex">
                  <label for="periodo" class="col-12 col-sm-4 col-md-4 control-label col-form-label">Periodo</label>
                  <div class="col-12 col-sm-7 col-md-7">
                    <input type="month" class="form-control" [formControl] = "periodoCtrl">
                  </div>
              </div>
            </div>
            <div class="m-0 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3">
              <div class="form-group row d-flex">
                <label for="regla" class="col-12 col-sm-4 col-md-4 control-label col-form-label">Regla</label>
                <div class="col-12 col-sm-7 col-md-7">
                  <select class="custom-select" formControlName="regla">
                    <option value="R1">Regla 1</option>
                    <option value="R2">Regla 2</option>
                    <option value="R3">Regla 3</option>
                    <option value="R4">Regla 4</option>
                    <option value="R5">Regla 5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="m-0 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3">
              <div class="form-group row d-flex">
                <label for="agrupador" class="col-12 col-sm-4 col-md-4 control-label col-form-label">Agrupador</label>
                <div class="col-12 col-sm-7 col-md-7">
                  <select class="custom-select" formControlName = "agrupador">
                    <option value="">Todos los agrupadores..</option>
                    <option value="01">Suturas</option>
                    <option value="02">Mallas</option>
                    <option value="03">Mascara Aerocámaras</option>
                    <option value="06">Plasticos</option>
                    <option value="07">Linea Xterie</option>
                    <option value="08">Esponjas - Apósitos</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="m-0 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3">
              <div class="form-group row d-flex">
                <label for="filtro" class="col-12 col-sm-4 col-md-4 control-label col-form-label">Filtros</label>
                <div class="col-12 col-sm-7 col-md-7">
                  <select class="custom-select" formControlName="filtro">
                    <option value="">Sin filtros..</option>
                    <option value="FAL">Productos con alerta</option>
                    <option value="FSA">Productos sin alerta</option>
                    <option value="FPA">Con pedidos atrasados</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card border-left border-dark">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-4">
            <input type="text" placeholder="Buscar por CodSut, Item o Descripción." class="form-control rounded-pill" [formControl]= 'textFilterCtrl'>
          </div>
        </div>

        <div class="row">
          <div class="col-12" style="height: 75vh;" >
            <ngx-datatable style="height: 100%;"
              class="material"
              [loadingIndicator]="flagLoading"
              [rows]="listaCandidatos"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="50"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [messages]="messagerNgxTable"
            >
              <ngx-datatable-column name="#" prop='candidato' [width]="70"></ngx-datatable-column>
              <ngx-datatable-column name="CodSut" prop='codSut' [width]="244"></ngx-datatable-column>
              <ngx-datatable-column name="Item" prop='item' [width]="135"></ngx-datatable-column>
              <ngx-datatable-column name="Descripcion" prop='descripcion' [width]="200"></ngx-datatable-column>
              <ngx-datatable-column name="Coef. Variación" prop="coeficienteVariacion" [width]="85">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value }} %
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Pronostico" [width]="100" prop="pronostico" >

                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span *ngIf="reglaSeleccionada == 'R2' || reglaSeleccionada == 'R3' || reglaSeleccionada == 'R4'">
                    Promedio
                  </span>
                  <span *ngIf="reglaSeleccionada != 'R2' && reglaSeleccionada != 'R3' && reglaSeleccionada != 'R4' && reglaSeleccionada != 'R5'">
                    V. Sugerido
                  </span>
                  <span *ngIf="reglaSeleccionada == 'R5'">
                    V. Sugerido
                  </span>
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value | number }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="reglaSeleccionada != 'R5'" name="L. Superior" prop="limiteSuperior" [width]="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value | number }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="reglaSeleccionada != 'R5'" name="P. Control" prop="puntoControl" [width]="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value | number }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="reglaSeleccionada != 'R5'" name="Máximo" prop="stockMax" [width]="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value | number }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Disponible" prop="stockDisponible" [width]="118">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value | number }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Transito" prop="stockEnTransito" [width]="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span *ngIf="row['pedidosTransito'].length < 1">
                    {{value | number}}
                  </span>
                  <button class="btn btn-sm btn-outline-info btn-rounded" type="button" *ngIf="row['pedidosTransito'].length >= 1"
                  (click)="abrirModalTransito(modalDetalleTransito, row['pedidosTransito'], row['item'])">
                    {{ value | number }}
                  </button>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Alerta"  prop="alerta" [width]="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value | number }}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #modalDetalleTransito let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      Stock en tránsito del Item {{itemDetalle}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">
        &times;
      </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive table-sm">
      <table class="table table-striped no-wrap border mt-4" style="font-size: 13px;">
          <thead>
              <tr>
                  <th class="text-center">Lote</th>
                  <th class="text-center">Pedida</th>
                  <th class="text-center">Ingresada</th>
                  <th class="text-center">Pendiente</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Dif. Días</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pedido of pedidosItemTransito">
                  <td class="text-center">
                    {{ pedido['lote'] }}
                  </td>
                  <td class="text-center">
                    {{ pedido['cantidadPedida'] | number }}
                  </td>
                  <td class="text-center">
                    {{ pedido['cantidadIngresada'] | number }}
                  </td>
                  <td class="text-center">
                    {{ pedido['cantidadPendiente'] | number }}
                  </td>
                  <td class="text-center">
                    {{ pedido['fechaPreparacion'] | date: 'dd/MM/yy hh:mm' }}
                  </td>
                  <td class="text-center">
                    {{ pedido['difDias'] }}
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</ng-template>
