<div class="row">
    <div class="col-md-12">
        <div class="card border-left border-info">
            <div class="card-body">
                <form autocomplete="off" [formGroup]="formFiltros">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="fechainicio" class="text-right control-label col-form-label">Fecha
                                inicio:</label>
                            <div class="form-group">
                                <input type="date" formControlName="fechainicio"
                                    class="form-control form-control-sm font-medium" placeholder="Fecha Inicio">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="fechafinal" class="text-right control-label col-form-label">Fecha final:</label>
                            <div class="form-group">
                                <input type="date" formControlName="fechafinal"
                                    class="form-control form-control-sm font-medium" placeholder="Fecha Final">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="lote" class="text-right control-label col-form-label">Lote:</label>
                            <div class="form-group">
                                <input type="text" formControlName="lote"
                                    class="form-control form-control-sm font-medium">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="ordenFabricacion" class="text-right control-label col-form-label">Orden
                                fabricación:</label>
                            <div class="form-group">
                                <input type="text" formControlName="ordenFabricacion"
                                    class="form-control form-control-sm font-medium">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="text-right control-label col-form-label">Estado:</label>
                            <div class="form-group">
                                <select class="form-control  form-control-sm font-medium" formControlName="estado">
                                    <option value="PD" class="font-medium">POR DISPENSAR</option>
                                    <option value="D" class="font-medium">DISPENSADO</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-md-2">
                            <label class="text-right control-label col-form-label">&nbsp;&nbsp;</label>
                            <div class="form-group">
                                <button class="btn btn-sm btn-info">   <i class="fa fa-search"></i>&nbsp;&nbsp;Buscar&nbsp;</button>
                            </div>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <ngx-datatable class="material" [rows]="listLote" columnMode="force" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"  [scrollbarV]="true">
        <ngx-datatable-column name="Lote" prop="lote" [width]="60">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-medium">{{row.lote}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="OrdeFabricacion" prop="ordeFabricacion" [width]="60">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-medium">{{row.ordeFabricacion}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Tipo" prop="tipo" [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-medium">{{row.tipo}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Item" prop="item" [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-medium">{{row.item}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descripcion" prop="descripcion"  [width]="200">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-medium">{{row.descripcion}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Cantidad" prop="cantidad" [width]="60">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-medium">{{row.cantidad}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Requemiento" prop="requemiento"  [width]="40">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-medium">{{row.requemiento}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Entrega"  prop="entrega" [width]="40">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="font-medium">{{row.entrega}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="..."  prop="entrega" [width]="30">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-primary btn-sm" (click)="verDispensacion(row)"> <i class="fas fa-clipboard-list"></i> </button>
            </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>


