<div class="row">
    <div class="col-12">
      <div class="card border-left border-info">
        <div class="card-header bg-info text-white" style="font-weight: bold">
            <i class="fas fa-search"></i> Filtros de búsqueda
        </div>
        <div class="card-body">
          <form autocomplete="off" [formGroup]="formFormularioFiltros" (submit)="filtrarLote()">
            <div class="row" style="font-size: 13px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label text-black" style="font-size:12px">Codigo:</label>
                        <input type="text"  formControlName="Codigo" class="form-control form-control-sm" placeholder="Codigo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label" style="font-size:12px">Tipo Documento:</label>
                        <select class="form-control  form-control-sm" formControlName="tipoDocumento">
                            <option [value]="0" selected>TODO</option>
                            <option *ngFor="let tipo of TipoDocumentoSsoma"   [value]="tipo.idTipoDocumento">
                                {{tipo.descripcion}}
                            </option>
                        </select>
                            
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label" style="font-size:12px">Estado</label>
                        <select class="form-control  form-control-sm" formControlName="estado">
                            <option [value]="0" selected>TODO</option>
                            <option *ngFor="let estado of estadoSsoma"   [value]="estado.idEstadoSsoma">
                                {{estado.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label text-white">&nbsp;</label>
                    <div class="form-group">
                        <button class="btn btn-info btn-sm" type="submit"><i class="fas fa-search"></i> Buscar</button>
                        <button class="btn btn-success btn-sm"  type="button" (click)="OpenModal('Nuevo',{})"><i class="fas fa-plus"></i> Nuevo</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <div class="card border-left border-info">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover table-bordered table-sm">
                        <thead style="font-size: 11px;">
                            <tr>
                                <th scope="col" class="text-center font-weight-bold">Código</th>
                                <th scope="col" class="text-center font-weight-bold">T.Documento</th>
                                <th scope="col" class="text-center font-weight-bold">Nombre Documento</th>
                                <th scope="col" class="text-center font-weight-bold">Versión</th>
                                <th scope="col" class="text-center font-weight-bold">Vigencia</th>
                                <th scope="col" class="text-center font-weight-bold">Estado</th>
                                <th scope="col" class="text-center font-weight-bold">F.Aprobación</th>
                                <th scope="col" class="text-center font-weight-bold">F.Publicación</th>
                                <th scope="col" class="text-center font-weight-bold">F.Revisión</th>
                                <th scope="col" class="text-center font-weight-bold">Dias</th>
                                <th scope="col" class="text-center font-weight-bold">Opción</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 11px;">
                            <tr *ngFor="let documento of listarSsoma; let i = index">
                                <td class="text-center"><b>{{documento.codigoDocumento}}</b></td>
                                <td class="text-center"><b>{{documento.tipoDocumentoDescripcion}}</b></td>
                                <td class="text-center"><b>{{documento.nombreDocumento}}</b></td>
                                <td class="text-center"><b>{{documento.versionSsoma}}</b></td>
                                <td class="text-center"><b>{{documento.vigencia}}</b></td>
                                <td class="text-center"><b>{{documento.estadoDescripcion}}</b></td>
                                <td class="text-center"><b>{{documento.fechaAprobacion | date :'dd/MM/yyyy'}}</b></td>
                                <td class="text-center"><b>{{documento.fechaPublicacion | date :'dd/MM/yyyy'}}</b></td>
                                <td class="text-center"><b>{{documento.fechaRevision | date :'dd/MM/yyyy'}}</b></td>
                                <td class="text-center">
                                    <div *ngIf="documento.dias>0;then other_content else content"></div>
                                    <ng-template #content>
                                        <button  type="button" style="background-color: #c514a2;border: none;" class="btn btn-danger btn-sm"> <i class="fas fa-hourglass-end"></i> {{documento.dias}}</button>
                                    </ng-template>
                                    <ng-template #other_content>
                                        <button  type="button"  style="background-color: #0dd139;border: none;" class="btn btn-success btn-sm"> <i class=" fas fa-hourglass-half"></i> {{documento.dias}}</button>
                                    </ng-template>
                                    <!-- <button *ngIf="documento.dias>0"  type="button" class="btn btn-success btn-sm"> <i class=" fas fa-hourglass-half"></i> {{documento.dias}}</button> -->
                                </td>
                                <td class="text-center"> 
                                        <button class="btn btn-info btn-sm" style="background-color: #1496ea;border: none" type="button" (click)="OpenModal('editar',documento)"> <i class="fas fa-edit"></i> </button>
                                        <button (click)="EliminarSsoma(documento,i)" type="button" class="btn btn-danger btn-sm"> <i class="fas fa-trash-alt"></i></button>
                                       
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>