<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-start">
                    <div class="col-md-3">
                        <label for="cliente"
                            class="col-sm-3 text-right control-label col-form-label text-white">.</label>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" name='LoteFabricacion' [(ngModel)]="Codlote" #ctrl="ngModel"
                                    class="form-control form-control-sm" placeholder="Buscar" aria-label=""
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <button class="btn mr-0 btn-info btn-sm" (click)="Buscar()" type="button">
                                        <i class="ti-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-sm" [disabled]="ActivarCheckout"
                                        style="background-color: #4CAF50; border: none;"
                                        (click)="GuardarOrdenFabricacion()"> <i class="fas fa-check"></i> ACTIVAR
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="align-items-center">
                            <div class="table-hover table-responsive table-bordered">
                                <table class="table table-striped border table-hover table-inf">
                                    <thead style="font-size: 13px">
                                        <tr>
                                            <th class="text-center" scope="col">F.Producción</th>
                                            <th class="text-center" scope="col">Item</th>
                                            <th class="text-center" scope="col">Código</th>
                                            <th class="text-center" scope="col">Descripción</th>
                                            <th class="text-center" scope="col">Número Lote</th>
                                            <th class="text-center" scope="col">Cliente</th>
                                            <th class="text-center" scope="col">Marca</th>
                                            <th class="text-center" scope="col">Orden Fabricacion</th>
                                            <th class="text-center" scope="col">Transferido</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 11px" id="tbodyDetalle">
                                        <tr *ngFor="let lessonForm of Muestreo.controls; let i = index">
                                            <ng-container [formGroup]="lessonForm">
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.fechaProduccion | date:'dd/MM/yyyy'}}</b>
                                                </td>
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.item}}</b>
                                                </td>
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.numeroParte}}</b>
                                                </td>
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.descripcionLocal}}</b>
                                                </td>
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.lote}}</b>
                                                </td>
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.cliente}}</b>
                                                </td>
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.marca}}</b>
                                                </td>
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.ordenFabricacion }}</b>
                                                </td>
                                                <td class="text-center">
                                                    <b>{{lessonForm.value.transferidoflag }}</b>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex no-block align-items-center">
                            <div class="table-hover table-responsive table-bordered">
                                <table class="table table-striped border table-hover table-inf">
                                    <thead style="font-size: 13px">
                                        <tr>
                                            <th class="text-center" scope="col">Lote</th>
                                            <th class="text-center" scope="col">Orden Fabricacion</th>
                                            <th class="text-center" scope="col">Estado</th>
                                            <th class="text-center" scope="col">Usuario</th>
                                            <th class="text-center" scope="col">Opcion</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 12px">
                                        <tr *ngFor="let lote of ListarLoteEstado; let i = index">
                                            <td class="text-center">
                                                <b>{{lote.lote}}</b>
                                            </td>
                                            <td class="text-center">
                                                <b>{{lote.ordenFabricacion}}</b>
                                            </td>
                                            <td class="text-center">
                                                <b>{{lote.estado}}</b>
                                            </td>
                                            <td class="text-center">
                                                <b>{{lote.usuario}}</b>
                                            </td>

                                            <td class="text-center">
                                                <button type="button" (click)="ActivarInactivar(lote, i)" class="btn btn-danger btn-sm"> <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>