<div class="row">
    <div class="col-md-12">
        <div class="card border-left border-info">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <div class="mr-auto">
                        <h4 class="text-info"></h4>
                    </div>
                    <div class="ml-auto">
                        <span class="text-info display-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [formControl]="dispensarTodo">
                                <label class="form-check-label" for="inlineCheckbox1" style="font-size:16px">¿Dispensar Todo?</label>
                            </div>
                        </span>
                        <span class="text-info display-6">
                            <button type="button" class="btn btn-success btn-sm" > <i class="fas fa-shopping-basket"> Entregar </i></button>
                        </span>
                      
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped border hover table-sm">
                      <thead>
                        <tr class="font-bold">
                          <th class="text-center">N°</th>
                          <th class="text-center">Item</th>
                          <th class="text-center">Descripción</th>
                          <th class="text-center">UM</th>
                          <th class="text-center">Cant. Pedida</th>
                          <th class="text-center">Cant. entregar</th>
                          <th class="text-center">Requision</th>
                          <th class="text-center">Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dispensacionForm of listarDetalleDispensacion.controls; let i = index">
                            <ng-container [formGroup]="dispensacionForm">
                                <td class="text-center font-medium">{{dispensacionForm.value.numero }}</td>
                                <td class="text-center font-medium">{{ dispensacionForm.value.item }}</td>
                                <td class="text-left font-medium">{{ dispensacionForm.value.descripcion }}</td>
                                <td class="text-center font-medium">{{ dispensacionForm.value.um}}</td>
                                <td class="text-center font-medium">{{ dispensacionForm.value.cantidadPedida}}</td>
                                <td class="text-center font-medium justify-content-center">
                                    <div class="input-group input-group-sm" style='width:6rem'>
                                        <input type="number" class="form-control form-control-sm font-medium" formControlName="cantidadEntrega" />
                                    </div>
                                </td>
                                <td class="text-center font-medium">{{ dispensacionForm.value.requision }}</td>
                                <td class="text-center font-medium">
                                    <span *ngIf="dispensacionForm.value.estado == 'Completado'" class="text-info">{{ dispensacionForm.value.estado }}</span>
                                    <span *ngIf="dispensacionForm.value.estado == 'Pendiente'" class="text-danger">{{ dispensacionForm.value.estado }}</span>
                                </td>
                            </ng-container>

                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
</div>