
    <div class="row">
        <!-- Column BLOQUE 1 -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5>Cantidad: {{ListarProductoCostoBase.length}}</h5>
                    <div class="table-responsive scroll-group">
                        <table class="table table-hover">
                            <thead class="text-black table-sm" style="font-size: 10px">
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre Producto</th>
                                    <th scope="col">Número de Parte</th>
                                    <th scope="col">Moneda</th>
                                    <th scope="col">Familia</th>
                                    <th scope="col">SubFamilia</th>
                                    <th scope="col">M.Prima</th>
                                    <th scope="col">M.Obra</th>
                                    <th scope="col">M.CIF</th>
                                    <th scope="col">C.U.Base</th>
                                    <th scope="col">Opción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let ItemCostobase of ListarProductoCostoBase; let i = index" style="font-size: 11px;">
                                <tr>
                                    <th> <b>{{ItemCostobase.codigoItem}}</b></th>
                                    <td> <b>{{ItemCostobase.descripcionLocal}}</b></td>
                                    <td> <b>{{ItemCostobase.numeroDeParte}}</b></td>
                                    <td> <b>{{ItemCostobase.codMoneda}}</b></td>
                                    <td> <b>{{ItemCostobase.familia}}</b></td>
                                    <td> <b>{{ItemCostobase.subfamilia}}</b></td>
                                    <td> <b>{{ItemCostobase.costoMateriaPrima  | number : '1.2-2'  }}</b></td>
                                    <td> <b>{{ItemCostobase.costoManoObra  | number : '1.2-2' }}</b></td>
                                    <td> <b>{{ItemCostobase.costoCIF  | number : '1.2-2'  }}</b></td>
                                    <td> <b>{{ItemCostobase.costoUnitarioBase  | number : '1.2-2'  }}</b></td>
                                    <td style="width: 10rem;"> 
                                        <button class="btn btn-sm btn-success"  sytpe="background-color: #3e8f39;" (click)="OpenModalDetalleMP(ItemCostobase)" > ver Detalle </button>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>