<div class="row">
    <div class="col-12">
        <div class="card border-left border-info">
            <div class="card-header bg-info text-white" style="font-weight: bold">
                Filtros de búsqueda
            </div>
            <div class="card-body">
                <form autocomplete="off" [formGroup]="formFiltro" (submit)="listarPendientesTransferencia()">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group row">
                                <label for="almacen"
                                    class="col-sm-3 text-center control-label col-form-label col-form-label-sm">Almacen:
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" formControlName="almacen" id="almacen">
                                        <option value="ALMPRT">Alm. Producto Terminado</option>
                                        <option value="ALMDRO">Alm. Droguería</option>
                                        <option value="ALMLICIT">Alm. Licitaciones</option>
                                        <option value="ALMMAT">Alm. Materia Prima</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group row">
                                <label for="estado"
                                    class="col-sm-3 text-center control-label col-form-label col-form-label-sm">Estado:
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" formControlName="estado" id="estado">
                                        <option value="AP">Liberado</option>
                                        <option value="PR">Cuarentena</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-info btn-sm btn-rounded btn-block-sm" type="submit">
                                <i class="fas fa-search"></i> Filtrar
                            </button>
                        </div>                   
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card border-left border-info">
            <div class="card-body">
                <div class="alert alert-warning" role="alert" *ngIf="listaPendientes.length < 1">
                    No se encontrarón pendientes.
                </div>
                <div class="table-responsive" *ngIf="listaPendientes.length > 0">
                    <div class="table table-hover table-sm" >
                        <div class="scroll-group">
                            <table class=" scroll-group table table-striped border mt-4" style="font-size: 11px">
                                <thead class="no-wrap">
                                    <tr>
                                        <th class="text-center font-weight-bold">Ctrl. Nro</th>
                                        <th class="text-center font-weight-bold">O. Fabricación</th>
                                        <th class="text-center font-weight-bold">Lote</th>
                                        <th class="text-center font-weight-bold">Estado</th>
                                        <th class="text-center font-weight-bold">Item</th>
                                        <th class="text-center font-weight-bold">Descripcion</th>
                                        <th class="text-center font-weight-bold">U. Traslado</th>
                                        <th class="text-center font-weight-bold">F. Traslado</th>
                                        <th class="text-center font-weight-bold">Total</th>
                                        <th class="text-center font-weight-bold">Pendiente</th>
                                        <th class="text-center font-weight-bold">Enviada</th>
                                        <th class="text-center font-weight-bold">Aceptada</th>
                                        <th class="text-center font-weight-bold">...</th>
                                    </tr>
                                </thead>
                                <tbody class="font-medium">
                                    <tr *ngFor="let pendiente of listaPendientes, let i = index">
                                        <td class="text-center">{{pendiente.controlNumero}}</td>
                                        <td class="text-center">{{pendiente.ordenFabricacion}}</td>
                                        <td class="text-center">{{pendiente.lote}}</td>
                                        <td class="text-center">{{pendiente.estado}}</td>
                                        <td>{{pendiente.item}}</td>
                                        <td>{{pendiente.descripcion}}</td>
                                        <td>{{pendiente.usuarioTraslado}}</td>
                                        <td class="text-center">{{pendiente.fechaTraslado | date: 'dd/MM/yyyy'}}</td>
                                        <td class="text-right">{{pendiente.cantidadTotal | number: '1.0-2'}}</td>
                                        <td class="text-right">{{pendiente.cantidadPendiente | number: '1.0-2'}}</td>
                                        <td class="text-right">{{pendiente.cantidadEnviada | number: '1.0-2'}}</td>
                                        <td class="text-right">{{pendiente.cantidadAceptada | number: '1.0-2'}}</td>
                                        <td align="center">
                                            <a type="button" (click)="abrirModalRecepcion(modalRecepcion, i)" *ngIf="pendiente.estado == 'AP'">
                                                <i class="fas fa-file-alt fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalRecepcion let-modal>
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold">
            <i class="fas fa-boxes fa-md"></i>&nbsp;&nbsp;Nueva Recepción
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form autocomplete="off" [formGroup]="formRecepcion" (submit)="registrarRecepcion()">
        <div class="modal-body">
            <div class="form-horizontal" style="font-size: 12px;">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="controlNumero">Ctrl. Nro:</label>
                    <input type="text" id="controlNumero" name="control-numero" class="form-control form-control-sm"
                        placeholder="Control Número" formControlName="controlNumero">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="cantidadTotal">Cantidad Total:</label>
                    <input type="text" id="cantidadTotal" name="cantidad-total" class="form-control form-control-sm"
                        placeholder="Cantidad Total" formControlName="cantidadTotal">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="cantidadTransferida">Cantidad Transferida:</label>
                    <input type="email" id="cantidadTransferida" name="cantidad-transferencia"
                        class="form-control form-control-sm" placeholder="Cantidad Transferida"
                        formControlName="cantidadTransferida">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="cantidadRecibida">Cantidad Recibida:</label>
                    <input type="email" id="cantidadRecibida" name="cantidad-recibida"
                        class="form-control form-control-sm" placeholder="Cantidad Recibida"
                        formControlName="cantidadRecibida">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-12">
                <button class="btn btn-success col-12" type="submit">
                    <i class="fas fa-archive fas-md" *ngIf="!flagRegistrarRecepcion"></i>
                    <i class=" fas fa-spinner fa-spin fas-md" *ngIf="flagRegistrarRecepcion"></i>
                    &nbsp;&nbsp;Registrar Transferencia
                </button>
            </div>
        </div>
    </form>
</ng-template>