

<div class="row ">
    <div class="card-body">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" stype="font-size: 14px">
                <h5>Listar Persona </h5>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body scroll-group">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <input type="text" name='filtro' autocomplete="off"  [formControl]="BuscarNombrePersona" class="form-control col-md-6 form-control-sm font-weight-normal" placeholder="Buscar Nombre">
                                <div class="table-hover table-responsive table-bordered scrollvertical">
                                    <table class=" table table-striped border table-sm table-hover">
                                        <thead style="font-size: 12px" class="bg-info text-white table-bordered">
                                            <tr>
                                                <th class="text-center">...</th>
                                                <th class="text-center">Nombre Completo</th>
                                                <th class="text-center">Numero Documento</th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 13px">
                                            <tr *ngFor="let persona of ListarDatosFormatoPersonaTecnico">
                                                <td class="text-center font-weight-normal">
                                                    <input type="checkbox" [(ngModel)]="persona.isSelected" name="list_name" [id]="persona.idEmpleado" (change)="SeleccionaItem(persona)" value="{{ persona.idEmpleado}}" />
                                                </td>
                                                <td class="text-center font-weight-normal">
                                                    <label [for]="persona.idEmpleado" class="font-normal">{{persona.nombreCompleto}}</label>
                                                </td>
                                                <td class="text-center font-weight-normal">
                                                    <label [for]="persona.idEmpleado" class="font-normal">{{persona.documento}}</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer p-3 d-flex justify-content-center">
            <button type="button" (click)="agregar()" class="btn btn-rounded  btn-info"> Agregar</button>
            <button type="button" (click)="activeModal.dismiss('Cross click')" class="btn btn-rounded btn-secondary">Cancelar</button>
        </div>
    </div>
</div>