<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-info text-white font-weight-bold">
          Filtro de busqueda
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label class="control-label col-form-label-sm" (click)="openModalConsultaClientes()">
                    Cliente
                  </label>
                  <div class="col-12 p-0">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-append">
                          <button class="btn mr-0 btn-primary btn-sm" (click)="Reset()" type="button">
                            <i class=" fas fa-redo"></i>
                          </button>
                        </div>
                        <input type="text" name='cliente' [(ngModel)]="Cliente" #ctrl="ngModel" readonly  class="form-control form-control-sm" placeholder="Buscar Cliente" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <button class="btn mr-0 btn-info btn-sm" (click)="openModalConsultaClientes()"  type="button">
                              <i class="ti-search"></i>
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="control-label col-form-label-sm" for="coincidencia">Palabra Clave</label>
                    <input type="text" id="coincidencia" class="form-control form-control-sm" placeholder="Coincidencia" [formControl]= 'textFilterCtrl'>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">        
          <div class="col-12">
            <ngx-datatable
              class="material"
              [loadingIndicator]="flagLoading"
              [columnMode]="'force'"
              [rows]="ListarProcesoAux"
              rowHeight="auto"
              [limit]="15"
              [headerHeight]="50"
              [footerHeight]="50"
              [messages]="messagerNgxTable"
            >
              <ngx-datatable-column name="Descripción Proceso" prop='descripcionProceso' [width]="150" [draggable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="font-size: 11px;">
                    {{ value }}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Descripción Comercial" prop='descripcionComercial' [width]="200" [draggable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="font-size: 11px;">
                    {{ value }}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Descripción Comercial Detalle" prop='descripcionComercialDetalle' [width]="420" [draggable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="font-size: 11px;">
                    {{ value }}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Items" prop='cantItems' [width]="80" [draggable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="font-size: 12px;">
                    {{ value }}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Contrato" [width]="60" [draggable]="false" [sortable]="false" [resizeable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                    <button type="button" style="font-size: 10px;background-color: #9ce0db;border: none;" (click)="AbrirModuloContrato(row['idProceso'])" class="btn btn-secondary text-white"><i class="fas fa-file-alt"></i></button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="O. Compra" [width]="60" [draggable]="false" [sortable]="false" [resizeable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                  <button type="button" style="font-size: 10px;background-color: #ffcc50;border: none;" (click)="AbrirOrdenCompra(row)" class="btn btn-warning"><i class="far fa-edit"></i></button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Inasa" [width]="60" [draggable]="false" [sortable]="false" [resizeable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                  <button type="button" class="btn btn-info" style="font-size: 10px;background-color: #4596DA;border: none;" (click)="AbrirModuloMuestrayEnsayo(row)"><i class="fas fa-list-alt"></i></button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Guias" [width]="60" [draggable]="false" [sortable]="false" [resizeable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                  <button type="button" class="btn btn-primary" style="font-size: 10px;background-color: #2CB820;border: none;" (click)="AbrirModuloGuias(row['idProceso'])"><i class="fas fa-paste"></i></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
</div>