<div class="row">
    <div class="card-body">
        <form (ngSubmit)="save()" [formGroup]="form">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Proceso: {{this.fromParent.descripcionComercial}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label TamanoLetra">Número Entrega : </label>
                            <select class="form-control  form-control-sm" formControlName="NumeroEntrega">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label TamanoLetra">Item : </label>
                            <select class="form-control  form-control-sm"  formControlName="Item">
                                <option [value]="null" [disabled]="true">Eliga un Item</option>
                                <option *ngFor="let item of ListarItemProceso"   [value]="item.numeroItem">
                                    {{item.numeroItem}}-{{item.descripcionItem}}
                                </option>
                              </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label TamanoLetra">T. Usuario </label>
                            <select class="form-control  form-control-sm" formControlName="Usuario" >
                                <option [value]="null"  [disabled]="true">Eliga un Tipo usuario</option>
                                <option *ngFor="let usuario of ListarTipoUsuario"   [value]="usuario">
                                    {{usuario}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Número Orden Compra:</label>
                            <input type="text" class="form-control form-control-sm" formControlName="NumeroOC" 
                                placeholder="Ingrese Número Orden de Compra">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Cantidad Orden Compra:</label>
                            <input type="number" class="form-control form-control-sm" formControlName="CantidadOC"  
                                placeholder="Ingrese Cantidad Orden de Compra"> 
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" [disabled]="!form.valid" class="btn btn-rounded btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</div>