<div class="row" *ngIf="!vistaDetalle">
    <div class="col-md-12">
        <!--- Complete Table -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">
                    <span class="lstick"></span>Cotizaciones
                </h4>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Número de Documento</label>
                            <input class="form-control" placeholder="Número de Documento" type="text"
                                [(ngModel)]="ngmNumeroDocumento" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Nombre de Cliente</label>
                            <input class="form-control" placeholder="Nombre de Cliente" type="text"
                                [(ngModel)]="ngmClienteNombre" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label style="color: white">Botón de buscar</label>
                            <button type="button" class="btn btn-primary ml-auto" (click)="
                    filtrarCotizaciones(ngmNumeroDocumento, ngmClienteNombre)
                  ">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table table-hover">
                    <table class="table table-striped border mt-4" style="font-size: 12px">
                        <thead class="no-wrap">
                            <tr>
                                <th>N° Documento</th>
                                <th>Razón social</th>
                                <th>RUC</th>
                                <th>Dirección</th>
                                <th>Contacto</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cotizacion of listaCotizaciones">
                                <td>{{ cotizacion.numeroDocumento }}</td>
                                <td>{{ cotizacion.clienteNombre }}</td>
                                <td>{{ cotizacion.clienteRUC }}</td>
                                <td>{{ cotizacion.clienteDireccion }}</td>
                                <td>{{ cotizacion.contacto }}</td>
                                <td>
                                    <a href="javascript: void(0);" class="link" (click)="
                        Editar(cotizacion.idFormato, cotizacion.numeroDocumento)
                      ">
                                        <i class="icon-pencil text-info m-r-10"></i>
                                    </a>
                                    <a href="javascript: void(0);" class="link" (click)="
                        GenerarReporte(
                          cotizacion.numeroDocumento,
                          cotizacion.idFormato,
                          modalGeneracion
                        )
                      ">
                                        <i class="ti-download text-warning pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center p-2">
                        <ngb-pagination [collectionSize]="paginador.totalRegistros" [(page)]="page"
                            [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="cambioPagina($event)"
                            [ellipses]="false" [maxSize]="5" [rotate]="true">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="vistaDetalle">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Datos Cotización</h4>
            </div>
            <form action="#" [formGroup]="Formulario">
                <div class="card-body">
                    <h4 class="card-title">Información</h4>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let keyArray of ListCamposPantillaCabecera"> 
                            <div class="form-group"> 
                                <label for="floatEmail">{{keyArray.etiqueta}}</label> 
                                <input  type="text" class="form-control" [formControlName]="keyArray.columnaResp" > 
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">DETALLE</h4>
                    <div class="table-hover table-responsive table-bordered">
                        <table class="table table-striped border">
                          <thead style="font-size: 12px">
                            <tr>
                              <th class="text-center" *ngFor="let valor of ListCabeceraDetalle"  >{{valor.etiqueta}}</th>
                            </tr>
                          </thead>
                          <tbody style="font-size: 12px" formArrayName="detalle" >
                            <tr *ngFor="let itemrow of Formulario.controls.detalle.controls; let i=index;let l=last" [formGroupName]="i" >
                               <td><input formControlName="nroItem"></td>
                               <td><input formControlName="codigoSAP"></td>
                               <td><input formControlName="denominacion"></td>
                               <td><input formControlName="undMedida"></td>
                               <td><input formControlName="cantidadTotal"></td>
                               <td><input formControlName="marca"></td>
                               <td><input formControlName="paisProcedencia"></td>
                               <td><input formControlName="presentacion" class="form-control"></td>
                               <td><input formControlName="modelo" class="form-control"></td>
                               <td><input formControlName="rnpVigente" class="form-control"></td>
                               <td><input formControlName="vigenciaMinima" class="form-control"></td>
                               <td><input formControlName="cumpleDenominacionItem" class="form-control"></td>
                               <td><input formControlName="cartaPresentacion" class="form-control"></td>
                               <td><input formControlName="registroSanitario" class="form-control"></td>
                               <td><input formControlName="certificadoAnalisis" class="form-control"></td>
                               <td><input formControlName="cumpleEspecificacionTec" class="form-control"></td>
                               <td><input formControlName="practicaAlmacenamiento" class="form-control"></td>
                               <td><input formControlName="practicaManufactura" class="form-control"></td>
                               <td><input formControlName="capacidadAtencion" class="form-control"></td>
                               <td><input formControlName="plazoEntrega" class="form-control"></td>
                               <td><input formControlName="precioUnitario" class="form-control"></td>
                               <td><input formControlName="valorTotal" class="form-control"></td>

                            <td>
                                <button *ngIf="Formulario.controls.detalle.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
                <button type="submit" [disabled]="!Formulario.valid"
                            class="btn btn-rounded btn-dark">Guardar</button>
            </form>

        </div>
    </div>
</div>




<ng-template #modalGeneracion let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Generando</h4>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <span class="spinner-border"></span>
        <br />
        <span>Cargando...</span>
    </div>
</ng-template>