<div class="row" *ngIf="!vistaDetalle">
    <div class="col-md-12">
        <!--- Complete Table -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">
                    <span class="lstick"></span>Cotizaciones
                </h4>
                <form autocomplete="off" [formGroup]="formSearch" (submit)="ListarCotizacion()" id="filtroUsuario">
                    <div class="row" style="align-items: center">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Número de Documento</label>
                                <input class="form-control" placeholder="Número de Documento" type="text"
                                    formControlName="ngmNumeroDocumento" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Nombre de Cliente</label>
                                <input class="form-control" placeholder="Nombre de Cliente" type="text"
                                    formControlName="ngmClienteNombre" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mt-4">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="table table-hover">
                    <div class="scroll-group">
                        <table class=" scroll-group table table-striped border mt-4" style="font-size: 12px">
                            <thead class="no-wrap">
                                <tr>
                                    <th>N° Documento</th>
                                    <th>Razón social</th>
                                    <th>RUC</th>
                                    <th>Dirección</th>
                                    <th>Contacto</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cotizacion of listaCotizaciones">
                                    <td>{{ cotizacion.numeroDocumento }}</td>
                                    <td>{{ cotizacion.clienteNombre }}</td>
                                    <td>{{ cotizacion.clienteRUC }}</td>
                                    <td>{{ cotizacion.clienteDireccion }}</td>
                                    <td>{{ cotizacion.contacto }}</td>
                                    <td>
                                        <a href="javascript: void(0);" class="link"
                                            (click)="NuevoDocumentoModal(cotizacion)">

                                            <i class="icon-doc text-info m-r-10"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="link"
                                            (click)="GenerarCotizacion(cotizacion)">
                                            <i class="icon-notebook text-danger pointer"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center p-2">
                        <ngb-pagination *ngIf="paginador.totalPaginas > 1" [collectionSize]="paginador.totalRegistros"
                            [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"
                            (pageChange)="cambioPagina($event)" [ellipses]="false" [maxSize]=5 [rotate]="true">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-formato-cotizacion *ngIf="vistaDetalle" (propagar)="CambiarEstadoInterface($event)" [vistaDetalle]="vistaDetalle" 
    [InformacionCotizacion]="InformacionCotizacion" [FlagGuardarActualizar]="FlagGuardarActualizar"
    [idformatos]="IdFormato" [NroDocumento]="NroDocumento" [ListCamposPantillaCabecera]="ListCamposPantillaCabecera"
    [ListCabeceraDetalle]="ListCabeceraDetalle" [Codigo]="Codigo" [nombreFormato]="nombreFormato" ></app-formato-cotizacion>


<!-- GENERADOR DE PDF -->
<ng-template #modalGeneracion let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Generando</h4>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <span class="spinner-border"></span>
        <br />
        <span>Cargando...</span>
    </div>
</ng-template>