<div class="row p-1">
    <div class="col-4">
        <input type="text" placeholder="Buscar Item o Descripción." class="form-control rounded-pill"
            [formControl]='textFilterCtrl'>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4 ">
        <label for="" class="float-right"> Cantidad : {{this.TempListarSeguimientoItemOC.length}}</label>
    </div>
</div>
<div class="table-responsive scrollvertical table-container">
    <div class="row">
        <table class="table table-bordered table-responsive-lg  table-cebra table-sm">
            <thead style="font-size: 11px" >
                <tr>
                    <!-- <th >#</th> -->
                    <th class="sticky">Item</th>
                    <th class="sticky-2">Descripción</th>
                    <th class="text-center">UM</th>
                    <th class="text-center">Enero</th>
                    <th class="text-center">Febrero</th>
                    <th class="text-center">Marzo</th>
                    <th class="text-center">Abril</th>
                    <th class="text-center">Mayo</th>
                    <th class="text-center">Junio</th>
                    <th class="text-center">Julio</th>
                    <th class="text-center">Agosto</th>
                    <th class="text-center">Septiembre</th>
                    <th class="text-center">Octubre</th>
                    <th class="text-center">Noviembre</th>
                    <th class="text-center">Diciembre</th>
                </tr>
            </thead>
            <tbody style="font-size: 12px" id="tbodyDetalle">
                <tr *ngFor="let item of TempListarSeguimientoItemOC; let i = index">
                    <td class="text-center sticky">
                        <button (click)="AbrirModalItem(item)"
                            class="btn  btn-sm btn-outline-info font-medium">{{item.item}}</button>
                    </td>
                    <td class="text-center sticky-2 font-medium" style="width:145px;font-size: 12px;">
                        <strong>{{item.descripcion}}</strong>
                    </td>
                    <td class="text-center font-medium"><strong>{{item.unidadCodigo}}</strong></td>

                    <td class="text-center">
                        <app-mini-tabla-detalle *ngIf="item.january!=null" [item]="item.item" [mes]="'January'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.february!=null" [item]="item.item" [mes]="'February'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.march!=null" [item]="item.item" [mes]="'March'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.april!=null" [item]="item.item" [mes]="'April'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.may!=null" [item]="item.item" [mes]="'May'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.june!=null" [item]="item.item" [mes]="'June'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.july!=null" [item]="item.item" [mes]="'July'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.august!=null" [item]="item.item" [mes]="'August'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.september!=null" [item]="item.item" [mes]="'September'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.october!=null" [item]="item.item" [mes]="'October'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.november!=null" [item]="item.item" [mes]="'November'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                    <td>
                        <app-mini-tabla-detalle *ngIf="item.december!=null" [item]="item.item" [mes]="'December'"
                            [ListarDetalleSeguimientoItemOC]="ListarDetalleSeguimientoItemOC"
                            [PermisoAcceso]="PermisoAcceso"
                            (ItemEvent)="SalirModalMinitabla($event)"></app-mini-tabla-detalle>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
