<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
                <div class="d-flex no-block align-items-center">
                    <div class="table-hover table-responsive table-bordered">
                      <table class="table table-striped border table-hover table-inf">
                        <thead style="font-size: 10px" class="bg-info text-white" >
                          <tr>
                            <th class="text-center" scope="col">Pedido</th>
                            <th class="text-center" scope="col">Item</th>
                            <th class="text-center" scope="col">Descripción</th>
                            <th class="text-center" scope="col">Cantidad </th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 10px" id="tbodyDetalle" >
                          <tr>
                           
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex no-block align-items-center">
                    <div class="table-hover table-responsive table-bordered">
                      <table class="table table-striped border table-hover table-inf">
                        <thead style="font-size: 10px" class="bg-primary text-white border-primary" >
                          <tr>
                            <th class="text-center" scope="col">Unidad Ejecutora</th>
                            <th class="text-center" scope="col">Pliego/Region</th>
                            <th class="text-center" scope="col">Diresa</th>
                            <th class="text-center" scope="col">Cantid </th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 10px" id="tbodyDetalle" >
                          <tr>
                           
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          
            <div class="row justify-content-end p-1">
                <button type="button" class="btn btn-info btn-rounded"  ><i class="fas fa-code-branch"></i> Completar</button>
            </div>
            <div class="row">
               <div class="col-12">
                <div class="d-flex no-block align-items-center">
                    <div class="table-hover table-responsive table-bordered">
                      <table class="table table-striped border table-hover table-inf">
                        <thead style="font-size: 10px" class="bg-info text-white" >
                          <tr>
                            <th class="text-center" scope="col">Asis. Com.</th>
                            <th class="text-center" scope="col">Vendedor</th>
                            <th class="text-center" scope="col">Region</th>
                            <th class="text-center" scope="col">Uni Ejecutora</th>
                            <th class="text-center" scope="col">Pedido</th>
                            <th class="text-center" scope="col">Item</th>
                            <th class="text-center" scope="col">Descripcion</th>
                            <th class="text-center" scope="col">Cantidad</th>
                            <th class="text-center" scope="col">P.Unit</th>
                            <th class="text-center" scope="col">Monto Total</th>
                            <th class="text-center" scope="col">Mes1</th>
                            <th class="text-center" scope="col">Mes2</th>
                            <th class="text-center" scope="col">Mes3</th>
                            <th class="text-center" scope="col">Mes4</th>
                            <th class="text-center" scope="col">Mes5</th>
                            <th class="text-center" scope="col">Total</th>


                          </tr>
                        </thead>
                        <tbody style="font-size: 10px" id="tbodyDetalle" >
                          <tr >

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
               </div>
            </div>
         
      </div>
    </div>
  </div>
</div>
