<div class="row">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="modal-header">
                <h5 class="modal-title font-medium" id="modal-basic-title"> 
                    ORDEN DE FABRICACION: <span class="text-info font-bold" >{{this.paramentros.ordenFabricacion}} <br>
                    </span>  LOTE : <span class="text-info font-bold" >{{this.paramentros.lote}} </span> </h5>
                <button type="button" class="close" aria-label="Close" (click)="this.activeModal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
            <div class="row">
                <div class="col-md-6">
                    <label for="fecha" class="text-right control-label col-form-label font-bold">Fecha Inicio:</label>
                    <div class="form-group">
                        <input type="date"  class="form-control form-control-sm font-medium" min="{{fechaActual}}"  formControlName="fechaInicio">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="fecha" class="text-right control-label col-form-label font-bold">Fecha Entrega:</label>
                    <div class="form-group">
                        <input type="date"  class="form-control form-control-sm font-medium" min="{{fechaActual}}" formControlName="fechaEntrega" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="comentario" class="text-right control-label col-form-label font-bold">Comentario</label>
                    <div class="form-group">
                        <textarea  class="form-control form-control-sm font-medium" formControlName="comentario"></textarea>
                    </div>
                </div>
            </div>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-rounded btn-success btn-sm" (click)="registrar()"> <i class="fas fa-save"></i> Guardar</button>
            </div>
        </form>

    </div>
</div>