<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form autocomplete="off" [formGroup]="form" (submit)="Filtrar()">

                    <div class="row justify-content-start">
                        <div class="col-md-3">
                            <label for="cliente"
                                class="col-sm-3 text-right control-label col-form-label text-white">.</label>
                            <div class="form-group">
                                <!-- <input type="text"  name='cliente' formControlName="cliente" readonly class="form-control" placeholder="Buscar Cliente"> -->
                                <div class="input-group mb-3">
                                    <input type="text" name='cliente' formControlName="cliente" readonly
                                        class="form-control" placeholder="Buscar Cliente" aria-label=""
                                        aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button class="btn mr-0 btn-info" (click)="openModalConsultaClientes()"
                                            type="button">
                                            <i class="ti-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label for="fechainicio" class="text-right control-label col-form-label">Inicio</label>
                            <button class="btn btn-success btn-sm side-badge badge badge-success ml-4" type="button" (click)="ActivaDesactivaFechas()"  >Activar </button>
                            <div class="form-group">
                                <input type="date"  [readonly]="activarFecha" formControlName="FechaInicio" class="form-control"
                                    placeholder="Fecha Inicio">
                            </div>
                        </div>                      
                        <div class="col-md-2">
                            <label for="fechafinal" class="text-right control-label col-form-label">Final</label>
                            <div class="form-group">
                                <input type="date"  [readonly]="activarFecha" formControlName="FechaFin" class="form-control"
                                    placeholder="Fecha Fin">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label for="fechainicio" class="text-right control-label col-form-label">Tipo</label>
                            <div class="form-group">
                                <select class="custom-select" (change)="Filtrar()" formControlName="Tipo">
                                    <option value="GF">G. por facturar</option>
                                    <option value="FA">G.Facturada</option>
                                    <option value="G">General</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label for="fechainicio" class="text-right control-label col-form-label">Territorio</label>
                            <div class="form-group">
                                <select class="custom-select" (change)="Filtrar()" formControlName="Territorio">
                                    <option value="N">Nacional</option>
                                    <option value="E">Exportacion</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-4">
                            <button type="submit" [disabled]="!form.valid" class="btn btn-info"> <i
                                    class=" fas fa-search"></i> Buscar </button>
                            <button type="button" [disabled]="!form.valid" class="btn" (click)="Exportar()"   style="background-color:#1A8E1E; color: #FFF;"> <i
                                        class="fas fa-file-excel"></i> Exportar </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="p-2 col-md-4">
                        <input type="text" placeholder="Buscar Numero Guia" class="form-control rounded-pill" [formControl]= 'textFilterCtrl'>
                    </div>
                    <div class="ml-auto p-2">
                        <!-- <button type="button" class="btn btn-rounded" (click)="disablecheckou=!disablecheckou"   style="background-color:#2499c7; color: #FFF;"><span *ngIf="disablecheckou"> Deshactivar</span>  <span *ngIf="!disablecheckou"> Activar</span> </button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="height: 78vh;">
                      <ngx-datatable style="height: 100%;"
                        class="material"
                        [loadingIndicator]="flagLoading"
                        [rows]="TempListarGuiasPorFacturar"
                        [columnMode]="'force'"
                        [trackByProp]="'updated'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="50"
                        [scrollbarH]="true"
                        [scrollbarV]="true"
                        [selected]="selected"
                        [selectionType]="'checkbox'"
                        [rowClass]="getRowClass"
                      >
                      <ngx-datatable-column name="Entrega"  *ngIf="form.controls.Tipo.value=='GF'"  [headerCheckboxable]="false" prop='comentariosEntrega' [width]="20">
                        <ng-template let-row="row"  let-value="value" let-allRowsSelected="allRowsSelected"  ngx-datatable-cell-template>
                            <input type="checkbox" id="prueba" [checked]="value" (change)="CheckSeleccion(row)"/>
                        </ng-template>
                     

                      </ngx-datatable-column>
                        <ngx-datatable-column name="serie" prop='serieNumero' [width]="50"></ngx-datatable-column>
                        <ngx-datatable-column name="Numero" prop='guiaNumero' [width]="120"></ngx-datatable-column>
                        <ngx-datatable-column name="Factura" prop='facturaNumero' [width]="100"></ngx-datatable-column>
                        <ngx-datatable-column name="F.Factura" prop='facturaFecha' [width]="100">
                            <ng-template let-row="row" let-value="value"  ngx-datatable-cell-template>
                                {{ value | date:'dd/MM/yyy' }}
                              </ng-template>

                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fech.Guia" prop='fechaDocumento' [width]="80">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{ value | date:'dd/MM/yyy' }}
                              </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Persona" prop='destinatario' [width]="50"></ngx-datatable-column>
                        <ngx-datatable-column name="RUC" prop='destinatarioRUC' [width]="120"></ngx-datatable-column>
                        <ngx-datatable-column name="Cliente" prop='destinatarioNombre' [width]="200"></ngx-datatable-column>
                        <ngx-datatable-column name="E.Guia" prop='estadoGuia' [width]="25"></ngx-datatable-column>
                        <ngx-datatable-column name="Comentario" prop='comentarioGuia' [width]="250"></ngx-datatable-column>
                        <ngx-datatable-column name="E.Pecosa" prop='reprogramacionPuntoPartida' [width]="110"></ngx-datatable-column>
                        <ngx-datatable-column name="Usuario" prop='ultimoUsuario' [width]="100"></ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>