<div class="row">
    <div class="col-12">

        <div class="card border-left border-info">
            <div class="card-header bg-info text-white" style="font-weight: bold;">
                Reporte de Aguja
            </div>
            <div class="card-body">
                <div class="col-12">

                    <div class="row">
                        <div class="col-12" style="height: 80vh;">
                            <ngx-datatable class="material" [reorderable]="false" [rows]="listadoCompraAguja"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
                                [scrollbarV]="true" [sorts]="[{prop: 'name', dir: 'desc'}]"
                                [loadingIndicator]="flagEspera" style="height: 90%;" class="material font-medium"
                                [rowHeight]="50" [scrollbarH]="true">

                                <ngx-datatable-column name="ItemFinal" prop="itemFinal" [frozenLeft]="true"
                                    [width]="40">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.itemFinal }}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Descripción" prop="descripcionLocal" [frozenLeft]="true"
                                    [width]="150">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.descripcionLocal }}</span>
                                    </ng-template>
                                 </ngx-datatable-column>

                                 
                                <ngx-datatable-column name="Longuitud" prop="longAguja" [frozenLeft]="true" 
                                    [width]="40">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.longAguja }}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Familia" prop="familiaLarga" [frozenLeft]="true"
                                    [width]="80">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.familiaLarga }}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="T.Compra" prop="tiempoCompra" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.tiempoCompra | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="T.Pago" prop="tiempoPago" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.tiempoPago | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="T. Aprobacion" prop="tiempoAprobacion" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.tiempoAprobacion | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="T. Fabricacion" prop="tiempofabricacion" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.tiempofabricacion | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="T. Transporte" prop="tiempoTransporte" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.tiempoTransporte | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="T. Aduana" prop="tiempoAduanas" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.tiempoAduanas | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="CantMinima" prop="cantidadMinima" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.cantidadMinima | number : '1.3-3'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Maximo stock" prop="maximaStock" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.maximaStock | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Punto corte" prop="puntoCorte" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.puntoCorte | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Almacen" prop="almacen" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.almacen | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Transito" prop="pendienteOC" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.pendienteOC | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Aduans" prop="aduanas" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.aduanas | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="C.Calidad" prop="controlCalidad" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.controlCalidad | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Disponible" prop="stockTotal" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.stockTotal | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Dia Potencial" prop="diasPotencial" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.diasPotencial | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Pronostico" prop="pronostico" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.pronostico | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Consumo Dia" prop="consumoDia" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.consumoDia | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Dias Llegada" prop="demoraLlegarProducto" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.demoraLlegarProducto | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Desviacion" prop="desviacionCompra" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.desviacionCompra | number : '1.1-1'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="DiasEspera" prop="diasEsperar" [width]="30">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.diasEsperar | number : '1.1-1'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Variacion" prop="variacion" [width]="40">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.pronostico | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="CantidadComprar" prop="cantidadComprar" [width]="40">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="font-medium">{{row.cantidadComprar | number : '1.0-0'}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                            </ngx-datatable>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>